@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(normalize.css);
* {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  *:focus {
    outline: none; }

input::-webkit-input-placeholder {
  color: #fff; }

input:-moz-placeholder {
  color: #fff;
  opacity: 1; }

input::-moz-placeholder {
  color: #fff;
  opacity: 1; }

input:-ms-input-placeholder {
  color: #fff; }

.dibM, .myo-main .myo-header .left .logo, .myo-main .myo-header .left .accType, .myo-main .myo-header .right .doubleBox, .myo-main .myo-header .right .enterBox, .myo-main .myo-header .right .doubleBox i, .myo-main .myo-header .right .doubleBox img, .myo-main .myo-header .right .enterBox i, .myo-main .myo-header .right .enterBox img, .myo-main .myo-header .right .doubleBox div, .myo-main .myo-header .right .doubleBox time, .myo-main .myo-header .right .enterBox div, .myo-main .myo-header .right .enterBox time, .myo-main .ratesBox .rates ul li span:nth-child(3) b, .myo-main .ratesBox .rates ul li span:nth-child(3) em, .myo-main .statsBox .header table .radio, .myo-main .statsBox .subHeader table .radio, .myo-main .statsBox .header table .inputVal, .myo-main .statsBox .subHeader table .inputVal {
  display: inline-block;
  vertical-align: middle; }

.transA2, .myo-main .wrap .selectBox:after, .myo-main .menuBox .btnBox .btn, .myo-main .statsBox .header table .radio input + label span, .myo-main .statsBox .subHeader table .radio input + label span, .myo-main .statsBox .header table .radio input + label span:after, .myo-main .statsBox .subHeader table .radio input + label span:after, .myo-main .tradeBox .tradeTabsBox .tabItem, .myo-main .tradeBox .tradeTabsBox .tabItem:after {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.rates.ps-container {
  overflow: visible !important;
  overflow-y: hidden !important; }

.ps-container > .ps-scrollbar-y-rail {
  border-radius: 0;
  background: #49628c !important;
  opacity: 1;
  right: 0; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  border-radius: 0;
  background: rgba(32, 52, 84, 0.5) !important; }

.ps-scrollbar-y-rail:before, .ps-scrollbar-y-rail:after {
  content: "▲";
  color: #fff;
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  background: rgba(32, 52, 84, 0.5);
  z-index: 1;
  font-size: 6px;
  text-align: center; }

.ps-scrollbar-y-rail:after {
  content: "▼";
  top: 100%;
  margin: -8px 0 0; }

html, body {
  height: 100%;
  min-width: 320px; }

body {
  overflow: hidden; }
  body.active {
    overflow: hidden !important; }

div[pre-loader] {
  display: block;
  width: 100%;
  min-height: 100%;
  height: auto;
  position: fixed;
  z-index: 10000;
  background: rgba(52, 80, 127, 0.5); }

.ball, .ballx {
  background-color: transparent;
  border: 5px solid #0a9df1;
  opacity: 0.9;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  -moz-animation: spin 0.5s infinite linear;
  -webkit-animation: spin 0.5s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px; }

.ballx {
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  -moz-animation: spin 0.2s infinite linear;
  -webkit-animation: spin 0.2s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg); } }
.sp {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block; }

.sp-arrDown {
  width: 11px;
  height: 11px;
  background-position: -5px -5px; }

.sp-arrUp {
  width: 11px;
  height: 11px;
  background-position: -26px -5px; }

.sp-circlePlus {
  width: 18px;
  height: 18px;
  background-position: -47px -5px; }

.sp-clock {
  width: 22px;
  height: 21px;
  background-position: -75px -5px; }

.sp-menu1 {
  width: 31px;
  height: 16px;
  background-position: -5px -36px; }

.sp-menu2 {
  width: 19px;
  height: 19px;
  background-position: -46px -36px; }

.sp-menu3 {
  width: 26px;
  height: 20px;
  background-position: -75px -36px; }

.sp-menu4 {
  width: 18px;
  height: 22px;
  background-position: -5px -66px; }

.sp-menu5 {
  width: 21px;
  height: 24px;
  background-position: -33px -66px; }

.sp-menu6 {
  width: 17px;
  height: 19px;
  background-position: -64px -66px; }

.sp-menu7 {
  width: 25px;
  height: 19px;
  background-position: -107px -5px; }

.sp-menu8 {
  width: 24px;
  height: 24px;
  background-position: -111px -34px; }

.sp-news {
  width: 19px;
  height: 19px;
  background-position: -91px -68px; }

.sp-user {
  width: 21px;
  height: 19px;
  background-position: -120px -68px; }

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  background: url(../img/ghost.jpg) center center no-repeat;
  width: 220px !important;
  height: 200px !important;
  text-indent: -999999px;
  color: transparent; }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -khtml-user-drag: element !important;
  -webkit-user-drag: element !important; }

.gu-transit {
  opacity: 0.8;
  cursor: move;
  text-indent: -999999px; }

.ng-isolate-scope.gu-mirror {
  background: url(../img/ghost2.jpg) center center no-repeat;
  width: 355px !important;
  height: 43px !important; }

.mobileMenu {
  display: none; }

.myo-main {
  background: url(../img/bg.png) center center no-repeat fixed;
  -webkit-background-size: cover;
  -khtml-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif; }
  .myo-main .wrap {
    width: 1705px;
    margin: 0 auto; }
    .myo-main .wrap .selectBox {
      position: relative;
      display: inline-block; }
      .myo-main .wrap .selectBox:after {
        content: "";
        position: absolute;
        right: 6px;
        top: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 7px 0 7px;
        border-color: #ffffff transparent transparent transparent; }
      .myo-main .wrap .selectBox.active:after {
        border-width: 0 7px 8px 7px;
        border-color: transparent transparent #ffffff transparent; }
      .myo-main .wrap .selectBox select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border-radius: 0px;
        padding: 3px 22px 3px 6px;
        font-size: 16px;
        color: #fff;
        font-weight: 300;
        cursor: pointer;
        border: 1px solid #0a9df1;
        width: 110px;
        position: relative;
        text-overflow: "";
        text-indent: 0.01px; }
        .myo-main .wrap .selectBox select::-ms-expand {
          display: none; }
        .myo-main .wrap .selectBox select option {
          background: rgba(32, 52, 84, 0.5); }
  .myo-main .myo-header {
    overflow: hidden;
    padding: 20px 0 10px 0; }
    .myo-main .myo-header .left {
      position: relative;
      float: left;
      padding: 10px 0 0 0; }
      .myo-main .myo-header .left .logo {
        margin: 0 35px 0 0; }
      .myo-main .myo-header .left .accType {
        background: #8998b1;
        color: #fcfdff;
        font-weight: 700;
        position: relative;
        padding: 6px 14px 6px 4px;
        margin: 10px 0 0 0; }
        .myo-main .myo-header .left .accType:after {
          content: "";
          position: absolute;
          left: -16px;
          top: 0;
          border-style: solid;
          border-width: 17px 16px 17px 0;
          border-color: transparent #8998b1 transparent #8998b1; }
    .myo-main .myo-header .right {
      float: right; }
      .myo-main .myo-header .right .doubleBox, .myo-main .myo-header .right .enterBox {
        color: #fcfdff;
        margin: 0 0 0 20px; }
        .myo-main .myo-header .right .doubleBox i, .myo-main .myo-header .right .doubleBox img, .myo-main .myo-header .right .enterBox i, .myo-main .myo-header .right .enterBox img {
          margin: 14px 0 0;
          font-size: 25px; }
        .myo-main .myo-header .right .doubleBox div h2, .myo-main .myo-header .right .doubleBox time h2, .myo-main .myo-header .right .enterBox div h2, .myo-main .myo-header .right .enterBox time h2 {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 300;
          line-height: 18px; }
        .myo-main .myo-header .right .doubleBox div h3, .myo-main .myo-header .right .doubleBox time h3, .myo-main .myo-header .right .enterBox div h3, .myo-main .myo-header .right .enterBox time h3 {
          font-size: 12px;
          color: #0a9df1;
          text-transform: uppercase;
          text-align: left;
          font-weight: 700; }
      .myo-main .myo-header .right .enterBox h4 {
        font-size: 14px;
        color: #fcfdff;
        text-transform: none;
        font-weight: 300; }
      .myo-main .myo-header .right .enterBox i {
        margin: 12px 0 0; }
      .myo-main .myo-header .right .top {
        margin-bottom: 45px; }
      .myo-main .myo-header .right .bottom {
        text-align: right; }
        .myo-main .myo-header .right .bottom .deposit {
          background: #0a9df1;
          font-size: 18px;
          color: #fcfdff;
          font-weight: 700;
          text-transform: uppercase;
          border: none;
          padding: 7px 11px;
          margin: 0 0 0 35px;
          vertical-align: middle; }
          .myo-main .myo-header .right .bottom .deposit:active {
            opacity: 0.8;
            -webkit-transform: scale(0.95);
            -khtml-transform: scale(0.95);
            -moz-transform: scale(0.95);
            -ms-transform: scale(0.95);
            -o-transform: scale(0.95);
            transform: scale(0.95); }
          .myo-main .myo-header .right .bottom .deposit i {
            margin: 0px 5px -2px 0px; }
  .myo-main .dashBoardContent {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 50px 0; }
  .myo-main .menuBtn {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background: rgba(32, 52, 84, 0.5);
    border-bottom: 2px solid #192841; }
    .myo-main .menuBtn span {
      display: block;
      width: 100%;
      height: 2px;
      margin: 6px 0;
      background: #fff; }
  .myo-main .menuBox {
    display: inline-block;
    vertical-align: top;
    border-top: 8px solid rgba(10, 157, 241, 0.5);
    width: 57px; }
    .myo-main .menuBox .btnBox {
      height: 539px;
      background: rgba(44, 71, 116, 0.5); }
      .myo-main .menuBox .btnBox .btn {
        width: 100%;
        background: none;
        padding: 17px 12px;
        border: none;
        position: relative; }
        .myo-main .menuBox .btnBox .btn:active {
          background: rgba(32, 52, 84, 0.5); }
        .myo-main .menuBox .btnBox .btn span {
          position: absolute;
          right: 10px;
          top: 5px;
          width: 15px;
          height: 15px;
          text-align: center;
          line-height: 15px;
          font-size: 11px;
          background: #ce181e;
          color: white;
          -webkit-border-radius: 50%;
          -khtml-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%; }
  .myo-main .ratesBox {
    display: inline-block;
    vertical-align: top;
    border-top: 8px solid rgba(10, 157, 241, 0.5);
    margin: 0 0 0 7px;
    width: 355px; }
    .myo-main .ratesBox .header {
      background: rgba(32, 52, 84, 0.5);
      padding: 11px 0;
      text-align: center;
      border-bottom: 2px solid #000000; }
      .myo-main .ratesBox .header button {
        background: rgba(44, 71, 116, 0.5);
        border: 1px solid #263d63;
        font-weight: 700;
        font-size: 14px;
        color: #fcfdff;
        padding: 4px 5px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
      .myo-main .ratesBox .header button.active {
        border: 1px solid #117cc0; }
    .myo-main .ratesBox .rates {
      height: 539px;
      overflow: hidden;
      position: relative;
      color: #fff;
      font-size: 14px; }
      .myo-main .ratesBox .rates .rates-header {
        height: 40px;
        background: rgba(25, 43, 71, 0.5);
        border-bottom: 2px solid #28416b;
        text-align: left; }
        .myo-main .ratesBox .rates .rates-header li {
          padding: 0 10px !important; }
          .myo-main .ratesBox .rates .rates-header li span {
            color: #FFF !important;
            font-size: 14px !important;
            font-weight: bold; }
            .myo-main .ratesBox .rates .rates-header li span:nth-child(2) {
              text-align: center; }
      .myo-main .ratesBox .rates ul {
        width: 100%;
        height: 376px; }
        .myo-main .ratesBox .rates ul .ng-scope.ng-isolate-scope {
          display: none; }
        .myo-main .ratesBox .rates ul li {
          padding: 10px 0 10px 10px;
          cursor: pointer; }
          .myo-main .ratesBox .rates ul li .ng-isolate-scope {
            display: none; }
          .myo-main .ratesBox .rates ul li:nth-child(odd) {
            background: rgba(32, 52, 84, 0.5); }
          .myo-main .ratesBox .rates ul li:nth-child(even) {
            background: rgba(44, 71, 116, 0.5); }
          .myo-main .ratesBox .rates ul li span {
            display: inline-block;
            vertical-align: middle; }
          .myo-main .ratesBox .rates ul li span:nth-child(1) {
            color: #0a9df1;
            font-size: 18px;
            font-weight: 700;
            width: 50px; }
          .myo-main .ratesBox .rates ul li span:nth-child(2) {
            width: 120px; }
          .myo-main .ratesBox .rates ul li span:nth-child(3) {
            width: 135px;
            padding: 10px 0 10px 30px; }
            .myo-main .ratesBox .rates ul li span:nth-child(3).green b {
              background: #84b63d; }
            .myo-main .ratesBox .rates ul li span:nth-child(3).red b {
              background: #ff3203; }
            .myo-main .ratesBox .rates ul li span:nth-child(3) b {
              text-align: center;
              min-width: 80px;
              padding: 3px 10px;
              display: inline-block;
              -webkit-box-sizing: border-box;
              -khtml-box-sizing: border-box;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -o-box-sizing: border-box;
              box-sizing: border-box; }
            .myo-main .ratesBox .rates ul li span:nth-child(3) em {
              background: #172742;
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              margin: 0 0 0 10px;
              -webkit-border-radius: 50%;
              -khtml-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              border-radius: 50%; }
  .myo-main .statsBox {
    display: inline-block;
    vertical-align: top;
    border-top: 8px solid rgba(10, 157, 241, 0.5);
    margin: 0 0 0 7px;
    width: 995px; }
    .myo-main .statsBox .header, .myo-main .statsBox .subHeader {
      background: rgba(32, 52, 84, 0.5);
      border-bottom: 2px solid #000000; }
      .myo-main .statsBox .header table, .myo-main .statsBox .subHeader table {
        width: 100%; }
        .myo-main .statsBox .header table .radio input, .myo-main .statsBox .subHeader table .radio input {
          display: none; }
          .myo-main .statsBox .header table .radio input + label, .myo-main .statsBox .subHeader table .radio input + label {
            color: #fcfdff;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 300; }
          .myo-main .statsBox .header table .radio input + label span, .myo-main .statsBox .subHeader table .radio input + label span {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: -3px 3px 0 0;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid white;
            position: relative;
            -webkit-border-radius: 50%;
            -khtml-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%; }
            .myo-main .statsBox .header table .radio input + label span:after, .myo-main .statsBox .subHeader table .radio input + label span:after {
              content: "";
              position: absolute;
              left: 4px;
              top: 4px;
              width: 10px;
              height: 10px;
              background: transparent;
              -webkit-transform: scale(0);
              -khtml-transform: scale(0);
              -moz-transform: scale(0);
              -ms-transform: scale(0);
              -o-transform: scale(0);
              transform: scale(0);
              -webkit-border-radius: 50%;
              -khtml-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              border-radius: 50%; }
          .myo-main .statsBox .header table .radio input:checked + label span:after, .myo-main .statsBox .subHeader table .radio input:checked + label span:after {
            background: white;
            -webkit-transform: scale(1);
            -khtml-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1); }
        .myo-main .statsBox .header table .inputVal, .myo-main .statsBox .subHeader table .inputVal {
          padding: 3px 22px 3px 6px;
          font-size: 16px;
          color: #fff;
          font-weight: 300;
          border: 1px solid #0a9df1;
          width: 112px;
          background: none;
          box-sizing: border-box; }
        .myo-main .statsBox .header table tr td, .myo-main .statsBox .subHeader table tr td {
          width: 140px;
          box-sizing: border-box;
          padding: 10px 0 10px 50px; }
          .myo-main .statsBox .header table tr td:last-child, .myo-main .statsBox .subHeader table tr td:last-child {
            padding: 10px 0 10px 10px; }
    .myo-main .statsBox .subHeader {
      background: rgba(37, 63, 105, 0.5);
      border-bottom: none; }
    .myo-main .statsBox .pieBox li {
      -webkit-box-shadow: inset 0 0 5px 2px #0a9df1;
      box-shadow: inset 0 0 5px 2px #0a9df1;
      width: 25%;
      padding: 15px 5px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      height: 220px;
      text-indent: -9999999px; }
    .myo-main .statsBox .pieBox {
      height: 230px;
      overflow: hidden;
      position: relative;
      background: rgba(44, 71, 116, 0.5); }
      .myo-main .statsBox .pieBox .pieItem {
        width: 25%;
        padding: 15px 5px;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top; }
        .myo-main .statsBox .pieBox .pieItem .pieLeft {
          display: inline-block;
          vertical-align: top; }
          .myo-main .statsBox .pieBox .pieItem .pieLeft .pieHeader {
            text-align: center;
            font-weight: 700;
            color: #0a9df1;
            font-size: 12px;
            text-transform: uppercase; }
            .myo-main .statsBox .pieBox .pieItem .pieLeft .pieHeader h2 {
              color: #fcfdff;
              font-weight: 300;
              font-size: 16px; }
          .myo-main .statsBox .pieBox .pieItem .pieLeft .pieCircle {
            position: relative;
            display: inline-block;
            text-align: center;
            padding: 18px 18px 55px; }
            .myo-main .statsBox .pieBox .pieItem .pieLeft .pieCircle span {
              color: white;
              display: block;
              line-height: 12px;
              padding-top: 35px;
              text-align: center;
              width: 90px;
              font-family: sans-serif;
              font-size: 10px;
              text-transform: uppercase; }
              .myo-main .statsBox .pieBox .pieItem .pieLeft .pieCircle span b {
                font-size: 17px; }
            .myo-main .statsBox .pieBox .pieItem .pieLeft .pieCircle canvas {
              display: block;
              position: absolute;
              top: 0;
              left: 0; }
          .myo-main .statsBox .pieBox .pieItem .pieLeft .pieFooter {
            color: #fcfdff;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
        .myo-main .statsBox .pieBox .pieItem .pieRight {
          display: inline-block;
          vertical-align: top; }
          .myo-main .statsBox .pieBox .pieItem .pieRight .pieHeader {
            text-align: center;
            font-weight: 700;
            color: #0a9df1;
            font-size: 12px;
            text-transform: uppercase; }
            .myo-main .statsBox .pieBox .pieItem .pieRight .pieHeader h2 {
              color: #fcfdff;
              font-weight: 300;
              font-size: 16px; }
          .myo-main .statsBox .pieBox .pieItem .pieRight .pieBtnBox {
            margin: 27px 0 0; }
            .myo-main .statsBox .pieBox .pieItem .pieRight .pieBtnBox button {
              display: block;
              width: 100%;
              text-transform: uppercase;
              text-align: left;
              font-size: 15px;
              color: #fcfdff;
              font-weight: 700;
              padding: 5px 8px;
              margin: 0 0 3px;
              border: 2px solid transparent;
              background: none; }
              .myo-main .statsBox .pieBox .pieItem .pieRight .pieBtnBox button:active {
                opacity: 0.8;
                -webkit-transform: scale(0.95);
                -khtml-transform: scale(0.95);
                -moz-transform: scale(0.95);
                -ms-transform: scale(0.95);
                -o-transform: scale(0.95);
                transform: scale(0.95); }
              .myo-main .statsBox .pieBox .pieItem .pieRight .pieBtnBox button span {
                float: right;
                padding: 3px 0 0;
                font-size: 10px;
                font-weight: 300; }
            .myo-main .statsBox .pieBox .pieItem .pieRight .pieBtnBox .high {
              border: 2px solid #659422;
              background: #aace77;
              background: -moz-linear-gradient(top, #aace77 0%, #aace77 50%, #84b63d 51%, #84b63d 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aace77), color-stop(50%, #aace77), color-stop(51%, #84b63d), color-stop(100%, #84b63d));
              background: -webkit-linear-gradient(top, #aace77 0%, #aace77 50%, #84b63d 51%, #84b63d 100%);
              background: -o-linear-gradient(top, #aace77 0%, #aace77 50%, #84b63d 51%, #84b63d 100%);
              background: -ms-linear-gradient(top, #aace77 0%, #aace77 50%, #84b63d 51%, #84b63d 100%);
              background: linear-gradient(to bottom, #aace77 0%, #aace77 50%, #84b63d 51%, #84b63d 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aace77', endColorstr='#84b63d',GradientType=0 ); }
            .myo-main .statsBox .pieBox .pieItem .pieRight .pieBtnBox .low {
              border: 2px solid #930000;
              background: #d8011f;
              background: -moz-linear-gradient(top, #d8011f 0%, #d8011f 50%, #bb0101 51%, #bb0101 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8011f), color-stop(50%, #d8011f), color-stop(51%, #bb0101), color-stop(100%, #bb0101));
              background: -webkit-linear-gradient(top, #d8011f 0%, #d8011f 50%, #bb0101 51%, #bb0101 100%);
              background: -o-linear-gradient(top, #d8011f 0%, #d8011f 50%, #bb0101 51%, #bb0101 100%);
              background: -ms-linear-gradient(top, #d8011f 0%, #d8011f 50%, #bb0101 51%, #bb0101 100%);
              background: linear-gradient(to bottom, #d8011f 0%, #d8011f 50%, #bb0101 51%, #bb0101 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8011f', endColorstr='#bb0101',GradientType=0 ); }
            .myo-main .statsBox .pieBox .pieItem .pieRight .pieBtnBox .remove {
              text-align: center;
              display: none; }
    .myo-main .statsBox .areaBox {
      height: 260px;
      overflow: hidden;
      position: relative;
      background: rgba(52, 80, 127, 0.5);
      padding: 0 20px; }
      .myo-main .statsBox .areaBox .usedCurrency {
        display: inline-block;
        cursor: pointer;
        padding: 20px 0;
        font-size: 14px;
        font-weight: 600;
        color: white; }
        .myo-main .statsBox .areaBox .usedCurrency:before {
          content: "<";
          margin: 0 20px 0 0; }
        .myo-main .statsBox .areaBox .usedCurrency:after {
          content: ">";
          margin: 0 0 0 20px; }
      .myo-main .statsBox .areaBox .graph {
        width: 100%;
        box-sizing: border-box;
        height: 200px;
        margin: 0; }
        .myo-main .statsBox .areaBox .graph svg > text {
          display: none; }
      .myo-main .statsBox .areaBox .highcharts-markers image {
        transform: translate(-17.5px, -39px); }
  .myo-main .tradeBox {
    margin-top: 35px; }
    .myo-main .tradeBox .tradeTabsBox ul {
      font-size: 0; }
    .myo-main .tradeBox .tradeTabsBox .tabItem {
      background: rgba(52, 80, 127, 0.5);
      color: #fcfdff;
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      padding: 18px 58px;
      display: inline-block;
      cursor: pointer;
      position: relative; }
      .myo-main .tradeBox .tradeTabsBox .tabItem:after {
        content: "";
        position: absolute;
        top: 30px;
        right: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 11px 0 11px;
        border-color: transparent transparent transparent transparent; }
      .myo-main .tradeBox .tradeTabsBox .tabItem.active {
        background: #0a9df1; }
        .myo-main .tradeBox .tradeTabsBox .tabItem.active:after {
          border-color: #ffffff transparent transparent transparent; }
    .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable {
      height: 460px;
      overflow: hidden;
      position: relative;
      color: #fcfdff;
      font-weight: 300;
      background: rgba(40, 62, 97, 0.5); }
      .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table {
        width: 100%; }
        .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead {
          background: rgba(52, 80, 127, 0.5); }
          .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th {
            border-right: 1px solid #2b4571;
            text-align: left;
            text-transform: uppercase;
            font-weight: 600;
            padding: 28px 10px 10px;
            position: relative; }
            .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th div {
              cursor: pointer; }
            .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th:last-child {
              border-right: none; }
            .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th .sort {
              font-size: 9px; }
              .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th .sort:after {
                content: "▲";
                position: absolute;
                right: 5px;
                top: 22px; }
              .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th .sort:before {
                content: "▼";
                position: absolute;
                right: 5px;
                top: 30px; }
            .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th .sort.reverse:before {
              content: ""; }
            .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th .sort.unreverse:after {
              content: ""; }
        .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table tbody tr {
          border-bottom: 1px solid #536581; }
          .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table tbody tr td {
            padding: 19px 10px; }
            .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table tbody tr td:nth-child(4) {
              text-transform: uppercase; }
  .myo-main .newsBox {
    display: inline-block;
    vertical-align: top;
    border-top: 8px solid rgba(10, 157, 241, 0.5);
    margin: 0 0 0 7px;
    width: 264px; }
    .myo-main .newsBox .newsHeader {
      background: rgba(32, 52, 84, 0.5);
      border-bottom: 2px solid #000000;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      padding: 13px 20px;
      color: #fcfdff; }
    .myo-main .newsBox .newsBody {
      position: relative;
      overflow: hidden;
      height: 1104px;
      background: rgba(44, 71, 116, 0.5); }
      .myo-main .newsBox .newsBody .newsItem {
        padding: 25px 25px 0; }
        .myo-main .newsBox .newsBody .newsItem a {
          display: block;
          text-decoration: none;
          color: #fcfdff;
          font-weight: 700;
          font-size: 16px;
          margin: 0 0 10px 0; }
        .myo-main .newsBox .newsBody .newsItem h3 {
          font-size: 14px;
          color: #0a9df1;
          font-style: italic; }
        .myo-main .newsBox .newsBody .newsItem p {
          font-size: 14px;
          color: #fcfdff;
          padding: 20px 0;
          border-bottom: 1px solid #0a9df1; }

.myo-main.bankHistory .newsBox .newsBody {
  height: 539px; }
.myo-main.bankHistory .myo-header {
  padding: 20px 0 0 0; }
  .myo-main.bankHistory .myo-header .left .myo-user {
    border: 3px solid #0a9df1;
    vertical-align: bottom;
    width: 57px;
    height: 57px;
    box-sizing: border-box;
    margin: 30px 0 0 0; }
    .myo-main.bankHistory .myo-header .left .myo-user img {
      width: 100%; }
  .myo-main.bankHistory .myo-header .right .top {
    margin-bottom: 104px; }
.myo-main.bankHistory .myAcc {
  display: inline-block;
  vertical-align: top;
  border-top: 8px solid rgba(10, 157, 241, 0.5);
  margin: 0 0 0 7px;
  width: 255px; }
  .myo-main.bankHistory .myAcc .header {
    background: rgba(32, 52, 84, 0.5);
    padding: 11px 25px;
    border-bottom: 2px solid #000000;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 18px; }
  .myo-main.bankHistory .myAcc .myAccList {
    background: rgba(44, 71, 116, 0.5);
    height: 523px;
    padding: 10px 0; }
    .myo-main.bankHistory .myAcc .myAccList button {
      width: 100%;
      background: none;
      border: none;
      text-transform: uppercase;
      text-align: left;
      font-weight: bold;
      font-size: 14px;
      padding: 10px 25px;
      color: #fff; }
      .myo-main.bankHistory .myAcc .myAccList button.active {
        background: rgba(32, 52, 84, 0.5); }
.myo-main.bankHistory .myAccView {
  display: inline-block;
  vertical-align: top;
  border-top: 8px solid rgba(10, 157, 241, 0.5);
  margin: 0 0 0 7px;
  width: 1636px; }
  .myo-main.bankHistory .myAccView .header {
    background: rgba(32, 52, 84, 0.5);
    padding: 11px 25px;
    border-bottom: 2px solid #000000;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    font-size: 18px; }
  .myo-main.bankHistory .myAccView .historyBox {
    background: rgba(44, 71, 116, 0.5);
    padding: 30px 40px;
    min-height: 543px;
    box-sizing: border-box; }
    .myo-main.bankHistory .myAccView .historyBox .ps-scrollbar-x-rail {
      display: none; }
    .myo-main.bankHistory .myAccView .historyBox .searchBox {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      justify-content: space-between; }
      .myo-main.bankHistory .myAccView .historyBox .searchBox .input {
        width: 24%; }
        .myo-main.bankHistory .myAccView .historyBox .searchBox .input label {
          font-size: 16px;
          color: #fff; }
        .myo-main.bankHistory .myAccView .historyBox .searchBox .input input {
          width: 100%;
          background: none;
          border: 1px solid white;
          box-sizing: border-box;
          padding: 7px 3px;
          color: white;
          margin: 5px 0 0; }
        .myo-main.bankHistory .myAccView .historyBox .searchBox .input .selectBox {
          margin: 8px 0 0;
          display: block; }
          .myo-main.bankHistory .myAccView .historyBox .searchBox .input .selectBox select {
            width: 100%; }
            .myo-main.bankHistory .myAccView .historyBox .searchBox .input .selectBox select option {
              background: rgba(44, 71, 116, 0.5); }
        .myo-main.bankHistory .myAccView .historyBox .searchBox .input .searchBtn {
          margin: 26px 0 0 0;
          padding: 8px 0;
          border: none;
          font-size: 18px;
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          width: 100%;
          background: rgba(32, 52, 84, 0.5); }
          .myo-main.bankHistory .myAccView .historyBox .searchBox .input .searchBtn:active {
            opacity: 0.8; }
    .myo-main.bankHistory .myAccView .historyBox .historyTable,
    .myo-main.bankHistory .myAccView .historyBox .positionsTable {
      margin: 10px 0 0;
      height: 407px;
      position: relative; }
      .myo-main.bankHistory .myAccView .historyBox .historyTable table,
      .myo-main.bankHistory .myAccView .historyBox .positionsTable table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px; }
        .myo-main.bankHistory .myAccView .historyBox .historyTable table thead,
        .myo-main.bankHistory .myAccView .historyBox .positionsTable table thead {
          background: rgba(32, 52, 84, 0.5); }
          .myo-main.bankHistory .myAccView .historyBox .historyTable table thead th,
          .myo-main.bankHistory .myAccView .historyBox .positionsTable table thead th {
            color: #fff;
            text-transform: uppercase;
            text-align: left;
            font-weight: bold;
            font-size: 18px;
            padding: 14px 25px; }
        .myo-main.bankHistory .myAccView .historyBox .historyTable table tbody tr,
        .myo-main.bankHistory .myAccView .historyBox .positionsTable table tbody tr {
          background: #49628c; }
        .myo-main.bankHistory .myAccView .historyBox .historyTable table tbody td,
        .myo-main.bankHistory .myAccView .historyBox .positionsTable table tbody td {
          color: #fff;
          font-size: 14px;
          padding: 14px 25px; }
    .myo-main.bankHistory .myAccView .historyBox .positionsTable {
      height: 351px; }
      .myo-main.bankHistory .myAccView .historyBox .positionsTable table thead th {
        font-size: 12px; }
      .myo-main.bankHistory .myAccView .historyBox .positionsTable table tbody td {
        padding: 7px 14px; }
    .myo-main.bankHistory .myAccView .historyBox .prev,
    .myo-main.bankHistory .myAccView .historyBox .next {
      background: #0a9df1;
      border: none;
      padding: 10px 60px;
      margin: 14px 10px 0 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold; }
  .myo-main.bankHistory .myAccView .identification {
    padding: 30px 40px;
    background: rgba(44, 71, 116, 0.5);
    min-height: 483px; }
    .myo-main.bankHistory .myAccView .identification p {
      color: #fff;
      font-size: 14px;
      line-height: 30px; }
      .myo-main.bankHistory .myAccView .identification p a {
        color: #0a9df1;
        text-decoration: none; }
    .myo-main.bankHistory .myAccView .identification .imgBox img {
      margin: 0 40px 0 0; }
  .myo-main.bankHistory .myAccView .derails {
    padding: 30px 40px;
    background: rgba(44, 71, 116, 0.5);
    min-height: 483px; }
    .myo-main.bankHistory .myAccView .derails .labelBox {
      display: inline-block;
      vertical-align: top;
      width: 160px; }
      .myo-main.bankHistory .myAccView .derails .labelBox label {
        display: block;
        color: #fff;
        font-size: 14px;
        margin: 9px 0 48px 0; }
    .myo-main.bankHistory .myAccView .derails .inputBox {
      display: inline-block; }
      .myo-main.bankHistory .myAccView .derails .inputBox input {
        width: 300px;
        background: none;
        border: 1px solid white;
        box-sizing: border-box;
        padding: 7px 10px;
        color: white;
        margin: 0 0 30px 0; }
      .myo-main.bankHistory .myAccView .derails .inputBox .mail {
        color: white;
        margin: 0 0 30px 0;
        padding: 7px 10px; }
      .myo-main.bankHistory .myAccView .derails .inputBox .selectImg img {
        display: block;
        width: 55px;
        margin: 0 0 10px; }
      .myo-main.bankHistory .myAccView .derails .inputBox .selectImg input {
        display: inline-block;
        position: relative;
        width: 100px;
        cursor: pointer;
        border: 0;
        height: 30px;
        border-radius: 3px;
        outline: 0;
        padding: 0;
        margin: 0; }
        .myo-main.bankHistory .myAccView .derails .inputBox .selectImg input:after {
          color: #fff;
          text-align: center;
          position: absolute;
          background: rgba(32, 52, 84, 0.5);
          top: -1px;
          left: -1px;
          width: 102%;
          height: 102%;
          display: block;
          content: "Choose File";
          font-size: 14px;
          line-height: 30px;
          border-radius: 3px; }
      .myo-main.bankHistory .myAccView .derails .inputBox .selectImg .chosenFile {
        margin: 0 0 0 15px;
        vertical-align: middle;
        color: #fff; }
      .myo-main.bankHistory .myAccView .derails .inputBox .submit {
        background: rgba(32, 52, 84, 0.5);
        width: 300px;
        border: none;
        padding: 10px 0;
        margin: 10px 0 0;
        font-size: 24px;
        color: #fff;
        border-radius: 3px;
        text-transform: uppercase; }

.myo-main .login {
  width: 550px;
  margin: 0 auto; }
  .myo-main .login .logo {
    text-align: center;
    padding: 30px 0; }
  .myo-main .login .loginBox {
    border-top: 8px solid rgba(10, 157, 241, 0.5);
    color: #fff;
    background: rgba(52, 80, 127, 0.5);
    text-transform: uppercase;
    font-size: 22px; }
    .myo-main .login .loginBox .header {
      background: rgba(32, 52, 84, 0.5);
      text-align: center;
      padding: 11px 25px;
      border-bottom: 2px solid #000000;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px; }
    .myo-main .login .loginBox .social {
      text-align: center; }
      .myo-main .login .loginBox .social a {
        display: inline-block;
        margin: 15px 5px 5px; }
        .myo-main .login .loginBox .social a img {
          overflow: hidden;
          border-radius: 5px; }
      .myo-main .login .loginBox .social div {
        font-size: 18px;
        font-weight: bold; }
    .myo-main .login .loginBox .inputData {
      padding: 20px 40px 1px; }
      .myo-main .login .loginBox .inputData .item {
        margin: 0 0 20px; }
        .myo-main .login .loginBox .inputData .item > label,
        .myo-main .login .loginBox .inputData .item > div {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          color: #fff;
          font-weight: bold; }
        .myo-main .login .loginBox .inputData .item > label {
          width: 31%;
          text-transform: none; }
        .myo-main .login .loginBox .inputData .item > div {
          width: 67%; }
          .myo-main .login .loginBox .inputData .item > div input[type='text'],
          .myo-main .login .loginBox .inputData .item > div input[type='password'] {
            box-sizing: border-box;
            width: 100%;
            background: none;
            border: 1px solid white;
            padding: 8px 10px; }
        .myo-main .login .loginBox .inputData .item.country div input[type='text']:first-child {
          width: 60px; }
        .myo-main .login .loginBox .inputData .item.country div input[type='text'] {
          width: 168px; }
        .myo-main .login .loginBox .inputData .item.country div label {
          margin: 0 10px; }
        .myo-main .login .loginBox .inputData .item.openAcc label {
          text-transform: none; }
        .myo-main .login .loginBox .inputData .item.openAcc span {
          display: block; }
          .myo-main .login .loginBox .inputData .item.openAcc span a {
            color: #0a9df1;
            text-transform: none; }
            .myo-main .login .loginBox .inputData .item.openAcc span a:hover {
              text-decoration: none; }
        .myo-main .login .loginBox .inputData .item.openAcc button {
          border: none;
          font-size: 24px;
          color: #fff;
          font-weight: bold;
          padding: 10px;
          width: 100%;
          margin: 15px 0 10px;
          text-transform: uppercase;
          background: rgba(32, 52, 84, 0.5); }
          .myo-main .login .loginBox .inputData .item.openAcc button:hover {
            opacity: 0.8; }
        .myo-main .login .loginBox .inputData .item.openAcc h4 {
          text-align: center;
          margin: 0 0 10px;
          text-transform: none;
          font-weight: normal; }
          .myo-main .login .loginBox .inputData .item.openAcc h4 a {
            color: #0a9df1;
            text-transform: uppercase; }
            .myo-main .login .loginBox .inputData .item.openAcc h4 a:hover {
              text-decoration: none; }

@media screen and (max-width: 1710px) {
  .myo-main .wrap {
    width: 1240px; }
  .myo-main .statsBox {
    width: 805px; }
    .myo-main .statsBox .header table tr td,
    .myo-main .statsBox .subHeader table tr td {
      width: 180px;
      padding: 10px 0 10px 10px; }
    .myo-main .statsBox .pieBox .pieItem {
      width: 33%; }
  .myo-main .newsBox {
    width: 100%;
    margin: 0; }
    .myo-main .newsBox .newsBody {
      height: auto; }
      .myo-main .newsBox .newsBody .newsItem {
        padding: 25px;
        box-sizing: border-box;
        width: 25%;
        display: inline-block; }
  .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th .sort:before,
  .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th .sort:after {
    right: 1px; }
  .myo-main.bankHistory .myAccView {
    width: 1171px; }
    .myo-main.bankHistory .myAccView .historyBox .searchBox .input .selectBox {
      margin: 9px 0 0; }
    .myo-main.bankHistory .myAccView .historyBox .positionsTable table thead th {
      padding: 14px 10px; }
    .myo-main.bankHistory .myAccView .historyBox .positionsTable table tbody td {
      padding: 14px 10px; } }
@media screen and (max-width: 1240px) {
  .myo-main .wrap {
    width: 900px; }
  .myo-main .myo-header .left {
    padding: 0; }
    .myo-main .myo-header .left img {
      width: 300px; }
  .myo-main .ratesBox {
    width: 831px; }
    .myo-main .ratesBox .header button {
      margin: 0 60px; }
    .myo-main .ratesBox .rates .rates-header li {
      padding: 10px 20px !important; }
      .myo-main .ratesBox .rates .rates-header li span:nth-child(2),
      .myo-main .ratesBox .rates .rates-header li span:nth-child(3) {
        padding: 0; }
    .myo-main .ratesBox .rates ul li {
      padding: 10px 20px; }
      .myo-main .ratesBox .rates ul li span:nth-child(1) {
        text-align: center;
        width: 28%; }
      .myo-main .ratesBox .rates ul li span:nth-child(2) {
        text-align: center;
        width: 33%; }
      .myo-main .ratesBox .rates ul li span:nth-child(3) {
        text-align: center;
        width: 38%;
        padding: 0; }
  .myo-main .statsBox {
    width: 900px;
    margin: 10px 0 0; }
    .myo-main .statsBox .pieBox {
      height: 460px; }
      .myo-main .statsBox .pieBox .pieItem .pieRight .pieBtnBox .remove {
        display: block; }
  .myo-main .tradeBox {
    width: 900px; }
    .myo-main .tradeBox .tradeTabsBox .tabItem:after {
      top: 22px;
      right: 8px; }
    .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table tbody tr td {
      padding: 19px 30px; }
    .myo-main .tradeBox .tradeTabsBox .tabItem {
      font-size: 20px;
      padding: 15px 40px; }
  .myo-main.bankHistory .myAccView {
    width: 838px;
    margin: 0; }
    .myo-main.bankHistory .myAccView .historyBox .searchBox .input .selectBox {
      margin: 9px 0 0; }
  .myo-main.bankHistory .myAcc {
    width: 831px; }
  .myo-main.bankHistory .myo-header .left .myo-user {
    margin: 60px 0 0 0; } }
@media screen and (max-width: 900px) {
  .myo-main .wrap {
    width: 500px; }
  .myo-main .myo-header .left {
    float: none; }
  .myo-main .myo-header .right {
    float: none;
    text-align: center; }
    .myo-main .myo-header .right .top {
      margin: 5px 0 25px; }
  .myo-main .ratesBox {
    width: 431px; }
    .myo-main .ratesBox .header button {
      margin: 0 12px; }
    .myo-main .ratesBox .rates ul li span:nth-child(1) {
      width: 26%; }
  .myo-main .statsBox {
    width: 500px; }
    .myo-main .statsBox .header table tr td,
    .myo-main .statsBox .subHeader table tr td {
      text-align: center; }
    .myo-main .statsBox .header table .radio input + label span,
    .myo-main .statsBox .subHeader table .radio input + label span {
      display: block;
      margin: 0 auto 5px; }
    .myo-main .statsBox .pieBox .pieItem {
      width: 50%; }
    .myo-main .statsBox .areaBox .graph {
      width: 900px; }
  .myo-main .tradeBox {
    width: 500px; }
    .myo-main .tradeBox .tradeTabsBox .tabItem {
      padding: 15px 45px 15px 15px; }
  .myo-main .newsBox .newsBody .newsItem {
    width: 50%; }

  .myo-main .login {
    width: 100%; }
    .myo-main .login .logo img {
      width: 100%; }
    .myo-main .login .loginBox .inputData {
      padding: 20px 20px 1px; }
      .myo-main .login .loginBox .inputData .item > label {
        width: 100%;
        text-align: center; }
      .myo-main .login .loginBox .inputData .item > div {
        width: 100%; }
      .myo-main .login .loginBox .inputData .item.country div label {
        margin: 0 2px; }
      .myo-main .login .loginBox .inputData .item.country div input[type='text'] {
        width: 129px; }
    .myo-main .login .loginBox .social {
      margin: 10px 0; }
      .myo-main .login .loginBox .social div {
        margin: 25px 0 0; }
      .myo-main .login .loginBox .social a {
        margin: 0; }
        .myo-main .login .loginBox .social a img {
          vertical-align: bottom; }

  .myo-main.bankHistory .dashBoardContent {
    display: block; }
  .myo-main.bankHistory .myAcc {
    width: 431px; }
  .myo-main.bankHistory .myo-header .left .myo-user {
    margin: 10px 0 0;
    float: right; }
  .myo-main.bankHistory .myo-header .left .logo {
    margin: 0; }
  .myo-main.bankHistory .myo-header .right .top {
    margin-bottom: 20px; }
  .myo-main.bankHistory .myo-header .right .bottom {
    text-align: center;
    margin: 0 0 15px; }
  .myo-main.bankHistory .myAccView {
    width: 438px; }
    .myo-main.bankHistory .myAccView .derails .labelBox {
      display: none; }
    .myo-main.bankHistory .myAccView .derails .inputBox {
      width: 100%; }
      .myo-main.bankHistory .myAccView .derails .inputBox input {
        width: 100%; }
      .myo-main.bankHistory .myAccView .derails .inputBox .submit {
        width: 100%; }
    .myo-main.bankHistory .myAccView .historyBox .prev,
    .myo-main.bankHistory .myAccView .historyBox .next {
      padding: 10px;
      margin: 2%;
      width: 45%; }
    .myo-main.bankHistory .myAccView .historyBox .searchBox {
      display: block;
      justify-content: inherit; }
      .myo-main.bankHistory .myAccView .historyBox .searchBox .input {
        display: inline-block;
        width: 48%;
        margin: 0 0 15px; } }
@media screen and (max-width: 500px) {
  .myo-main .wrap {
    width: 300px; }
  .myo-main .mobileMenu {
    display: block; }
    .myo-main .mobileMenu .menuBtn-fixed {
      border: none;
      background: none;
      border-bottom: 0;
      position: fixed;
      left: 0;
      top: 8px;
      z-index: 1111;
      width: 57px; }
    .myo-main .mobileMenu .menuBox .btnBox {
      height: auto; }
      .myo-main .mobileMenu .menuBox .btnBox .btn {
        padding: 4px 12px;
        height: 45px; }
  .myo-main .myo-header .left .logo {
    margin: 0; }
    .myo-main .myo-header .left .logo img {
      width: 100%; }
  .myo-main .myo-header .left .accType {
    padding: 6px;
    font-size: 10px;
    margin: 0;
    position: absolute;
    right: 0;
    top: -20px;
    border-radius: 0 0 3px 3px;
    text-align: center; }
    .myo-main .myo-header .left .accType:after {
      top: initial;
      left: 50%;
      bottom: -11px;
      margin: 0 0 0 -20px;
      border-style: solid;
      border-width: 11px 20px 0 20px;
      border-color: #8998b1 transparent #8998b1 transparent; }
  .myo-main .myo-header .right .doubleBox,
  .myo-main .myo-header .right .enterBox {
    margin: 0 0 10px 10px; }
  .myo-main .dashBoardContent .menuBox {
    display: none; }
  .myo-main .ratesBox {
    width: 300px;
    margin: 0; }
    .myo-main .ratesBox .header button {
      margin: 5px 13px; }
    .myo-main .ratesBox .rates .rates-header li {
      padding: 10px 5px !important; }
    .myo-main .ratesBox .rates ul li {
      padding: 10px 5px; }
      .myo-main .ratesBox .rates ul li span:nth-child(3) em {
        margin: 0; }
  .myo-main .statsBox {
    width: 300px; }
    .myo-main .statsBox .header table tr td,
    .myo-main .statsBox .subHeader table tr td {
      padding: 5px 0 10px; }
    .myo-main .statsBox .header table .radio input + label,
    .myo-main .statsBox .subHeader table .radio input + label {
      font-size: 14px; }
    .myo-main .statsBox .header table .radio input + label span,
    .myo-main .statsBox .subHeader table .radio input + label span {
      margin: 5px auto; }
    .myo-main .statsBox .pieBox .pieItem {
      width: 100%; }
  .myo-main .tradeBox {
    width: 300px; }
    .myo-main .tradeBox .tradeTabsBox .tabItem {
      width: 100%;
      box-sizing: border-box; }
    .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th {
      padding: 10px; }
    .myo-main .tradeBox .tradeTabsBox .tradeView .tradeTable table tbody tr td {
      padding: 5px 30px; }
  .myo-main .newsBox .newsBody .newsItem {
    width: 100%; }

  .myo-main.bankHistory .dashBoardContent {
    margin: 0;
    padding: 0 0 20px; }
  .myo-main.bankHistory .myAcc {
    width: 100%;
    margin: 0; }
  .myo-main.bankHistory .myo-header .left .myo-user {
    margin: 35px 0 0 5px; }
  .myo-main.bankHistory .myo-header .right {
    text-align: left; }
  .myo-main.bankHistory .myAccView {
    width: 100%; }
    .myo-main.bankHistory .myAccView .historyBox {
      padding: 30px 15px; }
      .myo-main.bankHistory .myAccView .historyBox .searchBox .input {
        width: 100%;
        margin: 0 0 15px; }
        .myo-main.bankHistory .myAccView .historyBox .searchBox .input .selectBox {
          width: 100%; }
          .myo-main.bankHistory .myAccView .historyBox .searchBox .input .selectBox select {
            width: 100%; }
      .myo-main.bankHistory .myAccView .historyBox .prev,
      .myo-main.bankHistory .myAccView .historyBox .next {
        width: 100%;
        margin: 10px 0 0; } }

/*# sourceMappingURL=style.css.map */
