@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700)
@import "normalize.css"
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$color1: #fcfdff
$color2: #0a9df1
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*
  margin: 0
  padding: 0
  list-style-type: none
  &:focus
    outline: none



input::-webkit-input-placeholder
  color: #fff

input:-moz-placeholder
  color: #fff
  opacity: 1

input::-moz-placeholder
  color: #fff
  opacity: 1

input:-ms-input-placeholder
  color: #fff


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

.dibM
  display: inline-block
  vertical-align: middle

.transA2
  -webkit-transition: all 0.2s linear
  -o-transition: all 0.2s linear
  -moz-transition: all 0.2s linear
  transition: all 0.2s linear
//////////////////////////////////////////////////////////UNSTYLING/////////////////////////////////////////////////////
.rates.ps-container
  overflow: visible !important
  overflow-y: hidden !important

.ps-container>.ps-scrollbar-y-rail
  border-radius: 0
  background: #49628c !important
  opacity: 1
  right: 0

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y
  border-radius: 0
  background: rgba(32, 52, 84, 0.5) !important

.ps-scrollbar-y-rail
  &:before,
  &:after
    content: '\25b2'
    color: #fff
    position: absolute
    top: 0
    width: 8px
    height: 8px
    background: rgba(32, 52, 84, 0.5)
    z-index: 1
    font-size: 6px
    text-align: center

.ps-scrollbar-y-rail:after
  content: '\25bc'
  top: 100%
  margin: -8px 0 0
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
html, body
  height: 100%
  min-width: 320px

body
  overflow: hidden
  &.active
    overflow: hidden !important
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
div[pre-loader]
  display: block
  width: 100%
  min-height: 100%
  height: auto
  position: fixed
  z-index: 10000
  background: rgba(52, 80, 127, 0.5)

.ball, .ballx
  background-color: rgba(0,0,0,0)
  border: 5px solid $color2
  opacity: .9
  border-top: 5px solid rgba(0,0,0,0)
  border-left: 5px solid rgba(0,0,0,0)
  border-radius: 50px
  width: 50px
  height: 50px
  -moz-animation: spin .5s infinite linear
  -webkit-animation: spin .5s infinite linear
  position: absolute
  left: 50%
  top: 50%
  margin: -25px 0 0 -25px

.ballx
  width: 30px
  height: 30px
  margin: -15px 0 0 -15px
  -moz-animation: spin .2s infinite linear
  -webkit-animation: spin .2s infinite linear

@-moz-keyframes spin
  0%
    -moz-transform: rotate(0deg)
  100%
    -moz-transform: rotate(360deg)

@-moz-keyframes spinoff
  0%
    -moz-transform: rotate(0deg)
  100%
    -moz-transform: rotate(-360deg)

@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)

@-webkit-keyframes spinoff
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(-360deg)
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.sp
  background-image: url(../img/spritesheet.png)
  background-repeat: no-repeat
  display: inline-block

.sp-arrDown
  width: 11px
  height: 11px
  background-position: -5px -5px

.sp-arrUp
  width: 11px
  height: 11px
  background-position: -26px -5px

.sp-circlePlus
  width: 18px
  height: 18px
  background-position: -47px -5px

.sp-clock
  width: 22px
  height: 21px
  background-position: -75px -5px

.sp-menu1
  width: 31px
  height: 16px
  background-position: -5px -36px

.sp-menu2
  width: 19px
  height: 19px
  background-position: -46px -36px

.sp-menu3
  width: 26px
  height: 20px
  background-position: -75px -36px

.sp-menu4
  width: 18px
  height: 22px
  background-position: -5px -66px

.sp-menu5
  width: 21px
  height: 24px
  background-position: -33px -66px

.sp-menu6
  width: 17px
  height: 19px
  background-position: -64px -66px

.sp-menu7
  width: 25px
  height: 19px
  background-position: -107px -5px

.sp-menu8
  width: 24px
  height: 24px
  background-position: -111px -34px

.sp-news
  width: 19px
  height: 19px
  background-position: -91px -68px

.sp-user
  width: 21px
  height: 19px
  background-position: -120px -68px
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.gu-mirror
  position: fixed !important
  margin: 0 !important
  z-index: 9999 !important
  opacity: 0.8
  background: url(../img/ghost.jpg) center center no-repeat
  width: 220px !important
  height: 200px !important
  text-indent: -999999px
  color: transparent


.gu-hide
  display: none !important


.gu-unselectable
  -webkit-user-select: none !important
  -moz-user-select: none !important
  -ms-user-select: none !important
  user-select: none !important
  -khtml-user-drag: element !important
  -webkit-user-drag: element !important

.gu-transit
  opacity: 0.8
  cursor: move
  text-indent: -999999px

.ng-isolate-scope.gu-mirror
  background: url(../img/ghost2.jpg) center center no-repeat
  width: 355px !important
  height: 43px !important

.mobileMenu
  display: none
////////////////////////////////////////////////////dashBoard///////////////////////////////////////////////////////////

.myo-main
  background: url(../img/bg.png) center center no-repeat fixed
  @include prefix(background-size, cover)
  width: 100%
  min-height: 100%
  height: auto
  font-family: 'Open Sans', sans-serif

  .wrap
    width: 1705px
    margin: 0 auto



    .selectBox
      position: relative
      display: inline-block
      &:after
        content: ''
        position: absolute
        right: 6px
        top: 10px
        width: 0
        height: 0
        border-style: solid
        border-width: 8px 7px 0 7px
        border-color: #ffffff transparent transparent transparent
        @extend .transA2
      &.active
        &:after
          border-width: 0 7px 8px 7px
          border-color: transparent transparent #ffffff transparent
      select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        background: transparent
        border-radius: 0px
        padding: 3px 22px 3px 6px
        font-size: 16px
        color: #fff
        font-weight: 300
        cursor: pointer
        border: 1px solid #0a9df1
        width: 110px
        position: relative
        text-overflow: ''
        text-indent: 0.01px
        &::-ms-expand
          display: none
        option
          background: rgba(32, 52, 84, 0.5)


  //.selectBox
  //  @extend .dibM
  //  border: 1px solid $color2
  //  width: 110px
  //  position: relative
  //  h2
  //    padding: 3px 22px 3px 6px
  //    font-size: 16px
  //    color: #fff
  //    font-weight: 300
  //    cursor: pointer
  //  ul
  //    z-index: 1
  //    display: none
  //  &:after
  //    content: ''
  //    position: absolute
  //    right: 6px
  //    top: 10px
  //    width: 0
  //    height: 0
  //    border-style: solid
  //    border-width: 8px 7px 0 7px
  //    border-color: #ffffff transparent transparent transparent
  //    @extend .transA2
  //  &.active
  //    &:after
  //      border-width: 0 7px 8px 7px
  //      border-color: transparent transparent #ffffff transparent
  //    ul
  //      display: block
  //      position: absolute
  //      width: 100%
  //      border: 1px solid $color2
  //      margin: 0 0 0 -1px
  //      background: rgba(32, 52, 84, 0.5)
  //      li
  //        padding: 0 6px
  //        color: white
  //        font-weight: 300
  //        background: transparent
  //        cursor: pointer
  //        @extend .transA2
  //        &:hover
  //          background: rgba(44, 71, 116, 0.5)


  .myo-header
    overflow: hidden
    padding: 20px 0 10px 0
    .left
      position: relative
      float: left
      padding: 10px 0 0 0
      .logo, .accType
        @extend .dibM
      .logo
        margin: 0 35px 0 0
      .accType
        background: #8998b1
        color: $color1
        font-weight: 700
        position: relative
        padding: 6px 14px 6px 4px
        margin: 10px 0 0 0
        &:after
          content: ''
          position: absolute
          left: -16px
          top: 0
          border-style: solid
          border-width: 17px 16px 17px 0
          border-color: transparent #8998b1 transparent #8998b1
    .right
      float: right
      .doubleBox, .enterBox
        @extend .dibM
        color: $color1
        margin: 0 0 0 20px
        i, img
          @extend .dibM
          margin: 14px 0 0
          font-size: 25px
        div, time
          @extend .dibM
          h2
            font-size: 20px
            text-transform: uppercase
            font-weight: 300
            line-height: 18px
          h3
            font-size: 12px
            color: $color2
            text-transform: uppercase
            text-align: left
            font-weight: 700
      .enterBox
        h4
          font-size: 14px
          color: $color1
          text-transform: none
          font-weight: 300
        i
          margin: 12px 0 0
      .top
        margin-bottom: 45px
      .bottom
        text-align: right
        .deposit
          background: $color2
          font-size: 18px
          color: $color1
          font-weight: 700
          text-transform: uppercase
          border: none
          padding: 7px 11px
          margin: 0 0 0 35px
          vertical-align: middle
          &:active
            opacity: .8
            @include prefix(transform, scale(.95))
          i
            margin: 0px 5px -2px 0px


  .dashBoardContent
    display: inline-block
    vertical-align: top
    margin: 0 0 50px 0


  .menuBtn
    width: 100%
    padding: 10px 12px
    border: none
    background: rgba(32, 52, 84, 0.5)
    border-bottom: 2px solid #192841
    span
      display: block
      width: 100%
      height: 2px
      margin: 6px 0
      background: #fff


  .menuBox
    display: inline-block
    vertical-align: top
    border-top: 8px solid rgba(10, 157, 241, 0.5)
    width: 57px
    .btnBox
      height: 539px
      background: rgba(44, 71, 116, 0.5)
      .btn
        width: 100%
        background: none
        padding: 17px 12px
        border: none
        position: relative
        @extend .transA2
        &:active
          background: rgba(32, 52, 84, 0.5)

        span
          position: absolute
          right: 10px
          top: 5px
          width: 15px
          height: 15px
          text-align: center
          line-height: 15px
          font-size: 11px
          background: #ce181e
          color: white
          @include prefix(border-radius, 50%)


  .ratesBox
    display: inline-block
    vertical-align: top
    border-top: 8px solid rgba(10, 157, 241, 0.5)
    margin: 0 0 0 7px
    width: 355px
    .header
      background: rgba(32, 52, 84, 0.5)
      padding: 11px 0
      text-align: center
      border-bottom: 2px solid #000000
      button
        background: rgba(44, 71, 116, 0.5)
        border: 1px solid #263d63
        font-weight: 700
        font-size: 14px
        color: $color1
        padding: 4px 5px
        @include prefix(border-radius, 3px)
      button.active
        border: 1px solid #117cc0
    .rates
      height: 539px
      overflow: hidden
      position: relative
      color: #fff
      font-size: 14px
      .rates-header
        height: 40px
        background: rgba(25, 43, 71, 0.5)
        border-bottom: 2px solid #28416b
        text-align: left
        li
          padding: 0 10px !important
          span
            color: #FFF !important
            font-size: 14px !important
            font-weight: bold
            &:nth-child(2)
              text-align: center
      ul
        width: 100%
        height: 376px
        .ng-scope.ng-isolate-scope
          display: none
          //color: transparent
          //display: block
          //background: url(img/ghost2.jpg) center center no-repeat
          //width: 100%
          //height: 43px
          //overflow: hidden
        li
          padding: 10px 0 10px 10px
          cursor: pointer
          .ng-isolate-scope
            display: none
          &:nth-child(odd)
            background: rgba(32, 52, 84, 0.5)
          &:nth-child(even)
            background: rgba(44, 71, 116, 0.5)
          span
            display: inline-block
            vertical-align: middle
          span:nth-child(1)
            color: $color2
            font-size: 18px
            font-weight: 700
            width: 50px
          span:nth-child(2)
            width: 120px
          span:nth-child(3)
            width: 135px
            padding: 10px 0 10px 30px
            &.green
              b
                background: #84b63d
            &.red
              b
                background: #ff3203
            b
              text-align: center
              min-width: 80px
              padding: 3px 10px
              display: inline-block
              @include prefix(box-sizing, border-box)
              @extend .dibM
            em
              background: #172742
              width: 20px
              height: 20px
              text-align: center
              line-height: 20px
              margin: 0 0 0 10px
              @extend .dibM
              @include prefix(border-radius, 50%)


  .statsBox
    display: inline-block
    vertical-align: top
    border-top: 8px solid rgba(10, 157, 241, 0.5)
    margin: 0 0 0 7px
    width: 995px
    .header, .subHeader
      background: rgba(32, 52, 84, 0.5)
      border-bottom: 2px solid #000000
      table
        width: 100%
        .radio
          @extend .dibM
          input
            display: none
            + label
              color: $color1
              font-size: 18px
              text-transform: uppercase
              font-weight: 300
            + label span
              display: inline-block
              width: 18px
              height: 18px
              margin: -3px 3px 0 0
              vertical-align: middle
              cursor: pointer
              border: 1px solid white
              position: relative
              @include prefix(border-radius, 50%)
              @extend .transA2
              &:after
                content: ''
                position: absolute
                left: 4px
                top: 4px
                width: 10px
                height: 10px
                background: transparent
                @include prefix(transform, scale(0))
                @include prefix(border-radius, 50%)
                @extend .transA2
            &:checked
              + label span:after
                background: white
                @include prefix(transform, scale(1))
        .inputVal
          padding: 3px 22px 3px 6px
          font-size: 16px
          color: #fff
          font-weight: 300
          border: 1px solid $color2
          width: 112px
          background: none
          box-sizing: border-box
          @extend .dibM
        tr td
          width: 140px
          box-sizing: border-box
          padding: 10px 0 10px 50px
          &:last-child
            padding: 10px 0 10px 10px
    .subHeader
      background: rgba(37, 63, 105, 0.5)
      border-bottom: none

    .pieBox li
      -webkit-box-shadow: inset 0 0 5px 2px #0a9df1
      box-shadow: inset 0 0 5px 2px #0a9df1
      width: 25%
      padding: 15px 5px
      box-sizing: border-box
      display: inline-block
      vertical-align: top
      height: 220px
      text-indent: -9999999px
    .pieBox
      height: 230px
      overflow: hidden
      position: relative
      background: rgba(44, 71, 116, 0.5)
      .pieItem
        width: 25%
        padding: 15px 5px
        box-sizing: border-box
        display: inline-block
        vertical-align: top
        .pieLeft
          display: inline-block
          vertical-align: top
          .pieHeader
            text-align: center
            font-weight: 700
            color: $color2
            font-size: 12px
            text-transform: uppercase
            h2
              color: $color1
              font-weight: 300
              font-size: 16px
          .pieCircle
            position: relative
            display: inline-block
            text-align: center
            padding: 18px 18px 55px
            span
              color: white
              display: block
              line-height: 12px
              padding-top: 35px
              text-align: center
              width: 90px
              font-family: sans-serif
              font-size: 10px
              text-transform: uppercase
              b
                font-size: 17px
            canvas
              display: block
              position: absolute
              top: 0
              left: 0

          .pieFooter
            color: $color1
            font-size: 17px
            font-weight: 600
            text-transform: uppercase
            text-align: center
            width: 130px
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
        .pieRight
          display: inline-block
          vertical-align: top

          .pieHeader
            text-align: center
            font-weight: 700
            color: $color2
            font-size: 12px
            text-transform: uppercase
            h2
              color: $color1
              font-weight: 300
              font-size: 16px
          .pieBtnBox
            margin: 27px 0 0
            button
              display: block
              width: 100%
              text-transform: uppercase
              text-align: left
              font-size: 15px
              color: $color1
              font-weight: 700
              padding: 5px 8px
              margin: 0 0 3px
              border: 2px solid transparent
              background: none
              &:active
                opacity: .8
                @include prefix(transform, scale(.95))
              span
                float: right
                padding: 3px 0 0
                font-size: 10px
                font-weight: 300
            .high
              border: 2px solid #659422
              background: #aace77
              background: -moz-linear-gradient(top,  #aace77 0%, #aace77 50%, #84b63d 51%, #84b63d 100%)
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aace77), color-stop(50%,#aace77), color-stop(51%,#84b63d), color-stop(100%,#84b63d))
              background: -webkit-linear-gradient(top,  #aace77 0%,#aace77 50%,#84b63d 51%,#84b63d 100%)
              background: -o-linear-gradient(top,  #aace77 0%,#aace77 50%,#84b63d 51%,#84b63d 100%)
              background: -ms-linear-gradient(top,  #aace77 0%,#aace77 50%,#84b63d 51%,#84b63d 100%)
              background: linear-gradient(to bottom,  #aace77 0%,#aace77 50%,#84b63d 51%,#84b63d 100%)
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aace77', endColorstr='#84b63d',GradientType=0 )
            .low
              border: 2px solid #930000
              background: #d8011f
              background: -moz-linear-gradient(top,  #d8011f 0%, #d8011f 50%, #bb0101 51%, #bb0101 100%)
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8011f), color-stop(50%,#d8011f), color-stop(51%,#bb0101), color-stop(100%,#bb0101))
              background: -webkit-linear-gradient(top,  #d8011f 0%,#d8011f 50%,#bb0101 51%,#bb0101 100%)
              background: -o-linear-gradient(top,  #d8011f 0%,#d8011f 50%,#bb0101 51%,#bb0101 100%)
              background: -ms-linear-gradient(top,  #d8011f 0%,#d8011f 50%,#bb0101 51%,#bb0101 100%)
              background: linear-gradient(to bottom,  #d8011f 0%,#d8011f 50%,#bb0101 51%,#bb0101 100%)
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8011f', endColorstr='#bb0101',GradientType=0 )
            .remove
              text-align: center
              display: none


    .areaBox
      height: 260px
      overflow: hidden
      position: relative
      background: rgba(52, 80, 127, 0.5)
      padding: 0 20px
      .usedCurrency
        display: inline-block
        cursor: pointer
        padding: 20px 0
        font-size: 14px
        font-weight: 600
        color: white
        &:before
          content: '<'
          margin: 0 20px 0 0
        &:after
          content: '>'
          margin: 0 0 0 20px
      .graph
        width: 100%
        box-sizing: border-box
        height: 200px
        margin: 0
        svg
          >text
            display: none
      .highcharts-markers image
        transform: translate(-17.5px,-39px)


  .tradeBox
    margin-top: 35px
    .tradeTabsBox
      ul
        font-size: 0
      .tabItem
        background: rgba(52, 80, 127, 0.5)
        color: $color1
        font-size: 24px
        text-transform: uppercase
        text-align: center
        padding: 18px 58px
        display: inline-block
        cursor: pointer
        position: relative
        @extend .transA2
        &:after
          content: ''
          position: absolute
          top: 30px
          right: 20px
          width: 0
          height: 0
          border-style: solid
          border-width: 13px 11px 0 11px
          border-color: transparent transparent transparent transparent
          @extend .transA2
        &.active
          background: $color2
          &:after
            border-color: #ffffff transparent transparent transparent
      .tradeView
        .tradeTable
          height: 460px
          overflow: hidden
          position: relative
          color: $color1
          font-weight: 300
          background: rgba(40, 62, 97, 0.5)
          table
            width: 100%
            thead
              background: rgba(52, 80, 127, 0.5)
              th
                border-right: 1px solid #2b4571
                text-align: left
                text-transform: uppercase
                font-weight: 600
                padding: 28px 10px 10px
                position: relative
                div
                  cursor: pointer
                &:last-child
                  border-right: none
                .sort
                  font-size: 9px
                  &:after
                    content: '\25b2'
                    position: absolute
                    right: 5px
                    top: 22px
                  &:before
                    content: '\25bc'
                    position: absolute
                    right: 5px
                    top: 30px
                .sort.reverse:before
                  content: ''
                .sort.unreverse:after
                  content: ''
            tbody
              tr
                border-bottom: 1px solid #536581
                td
                  padding: 19px 10px
                  &:nth-child(4)
                    text-transform: uppercase


  .newsBox
    display: inline-block
    vertical-align: top
    border-top: 8px solid rgba(10, 157, 241, 0.5)
    margin: 0 0 0 7px
    width: 264px
    .newsHeader
      background: rgba(32, 52, 84, 0.5)
      border-bottom: 2px solid #000000
      text-transform: uppercase
      font-size: 18px
      font-weight: 700
      padding: 13px 20px
      color: $color1
    .newsBody
      position: relative
      overflow: hidden
      height: 1104px
      background: rgba(44, 71, 116, 0.5)
      .newsItem
        padding: 25px 25px 0
        a
          display: block
          text-decoration: none
          color: $color1
          font-weight: 700
          font-size: 16px
          margin: 0 0 10px 0
        h3
          font-size: 14px
          color: $color2
          font-style: italic
        p
          font-size: 14px
          color: $color1
          padding: 20px 0
          border-bottom: 1px solid $color2


//////////////////////////////////////////////////////bankHistory///////////////////////////////////////////////////////

.myo-main.bankHistory

  .newsBox .newsBody
    height: 539px

  .myo-header
    padding: 20px 0 0 0
    .left
      .myo-user
        border: 3px solid $color2
        vertical-align: bottom
        width: 57px
        height: 57px
        box-sizing: border-box
        margin: 30px 0 0 0
        img
          width: 100%
    .right
      .top
        margin-bottom: 104px


  .myAcc
    display: inline-block
    vertical-align: top
    border-top: 8px solid rgba(10, 157, 241, 0.5)
    margin: 0 0 0 7px
    width: 255px
    .header
      background: rgba(32, 52, 84, 0.5)
      padding: 11px 25px
      border-bottom: 2px solid #000000
      color: #fff
      text-transform: uppercase
      text-align: left
      font-weight: bold
      font-size: 18px
    .myAccList
      background: rgba(44, 71, 116, 0.5)
      height: 523px
      padding: 10px 0
      button
        width: 100%
        background: none
        border: none
        text-transform: uppercase
        text-align: left
        font-weight: bold
        font-size: 14px
        padding: 10px 25px
        color: #fff
        &.active
          background: rgba(32, 52, 84, 0.5)


  .myAccView
    display: inline-block
    vertical-align: top
    border-top: 8px solid rgba(10, 157, 241, 0.5)
    margin: 0 0 0 7px
    width: 1636px
    //width: 1095px
    .header
      background: rgba(32, 52, 84, 0.5)
      padding: 11px 25px
      border-bottom: 2px solid #000000
      color: #fff
      text-transform: uppercase
      text-align: left
      font-weight: bold
      font-size: 18px


    .historyBox
      background: rgba(44, 71, 116, 0.5)
      padding: 30px 40px
      min-height: 543px
      box-sizing: border-box
      .ps-scrollbar-x-rail
        display: none

      .searchBox
        display: -webkit-box
        display: -moz-box
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        -webkit-flex-flow: row wrap
        justify-content: space-between
        .input
          width: 24%
          label
            font-size: 16px
            color: #fff
          input
            width: 100%
            background: none
            border: 1px solid white
            box-sizing: border-box
            padding: 7px 3px
            color: white
            margin: 5px 0 0
          .selectBox
            margin: 8px 0 0
            display: block
            select
              width: 100%
              option
                background: rgba(44, 71, 116, 0.5)
          //.selectBox
          //  display: block
          //  background: none
          //  border: 1px solid white
          //  box-sizing: border-box
          //  margin: 5px 0 0
          //  width: 100%
          //  &:after
          //    top: 14px
          //  h2
          //    padding: 7px 22px 7px 6px
          //  &.active
          //    ul
          //      border: 1px solid #fff
          //      background: rgba(44, 71, 116, 0.5)
          .searchBtn
            margin: 26px 0 0 0
            padding: 8px 0
            border: none
            font-size: 18px
            font-weight: bold
            color: #fff
            text-transform: uppercase
            width: 100%
            background: rgba(32, 52, 84, 0.5)
            &:active
              opacity: 0.8


      .historyTable,
      .positionsTable
        margin: 10px 0 0
        height: 407px
        position: relative
        table
          width: 100%
          border-collapse: separate
          border-spacing: 0 5px
          thead
            background: rgba(32, 52, 84, 0.5)
            th
              color: #fff
              text-transform: uppercase
              text-align: left
              font-weight: bold
              font-size: 18px
              padding: 14px 25px
          tbody
            tr
              background: #49628c
            td
              color: #fff
              font-size: 14px
              padding: 14px 25px


      .positionsTable
        height: 351px
        table
          thead th
            font-size: 12px
          tbody
            td
              padding: 7px 14px

      .prev,
      .next
        background: $color2
        border: none
        padding: 10px 60px
        margin: 14px 10px 0 0
        color: #fff
        text-transform: uppercase
        font-weight: bold


    .identification
      padding: 30px 40px
      background: rgba(44, 71, 116, 0.5)
      min-height: 483px
      p
        color: #fff
        font-size: 14px
        line-height: 30px
        a
          color: $color2
          text-decoration: none
      .imgBox
        img
          margin: 0 40px 0 0


    .derails
      padding: 30px 40px
      background: rgba(44, 71, 116, 0.5)
      min-height: 483px
      .labelBox
        display: inline-block
        vertical-align: top
        width: 160px
        label
          display: block
          color: #fff
          font-size: 14px
          margin: 9px 0 48px 0
      .inputBox
        display: inline-block
        input
          width: 300px
          background: none
          border: 1px solid white
          box-sizing: border-box
          padding: 7px 10px
          color: white
          margin: 0 0 30px 0


        .mail
          color: white
          margin: 0 0 30px 0
          padding: 7px 10px


        .selectImg
          img
            display: block
            width: 55px
            margin: 0 0 10px
          input
            display: inline-block
            position: relative
            width: 100px
            cursor: pointer
            border: 0
            height: 30px
            border-radius: 3px
            outline: 0
            padding: 0
            margin: 0
            &:after
              color: #fff
              text-align: center
              position: absolute
              background: rgba(32, 52, 84, 0.5)
              top: -1px
              left: -1px
              width: 102%
              height: 102%
              display: block
              content: 'Choose File'
              font-size: 14px
              line-height: 30px
              border-radius: 3px
          .chosenFile
            margin: 0 0 0 15px
            vertical-align: middle
            color: #fff


        .submit
          background: rgba(32, 52, 84, 0.5)
          width: 300px
          border: none
          padding: 10px 0
          margin: 10px 0 0
          font-size: 24px
          color: #fff
          border-radius: 3px
          text-transform: uppercase


//////////////////////////////////////////////////////register//////////////////////////////////////////////////////////

.myo-main
  .login
    width: 550px
    margin: 0 auto
    .logo
      text-align: center
      padding: 30px 0
    .loginBox
      border-top: 8px solid rgba(10, 157, 241, 0.5)
      color: #fff
      background: rgba(52, 80, 127, 0.5)
      text-transform: uppercase
      font-size: 22px
      .header
        background: rgba(32, 52, 84, 0.5)
        text-align: center
        padding: 11px 25px
        border-bottom: 2px solid #000000
        color: #fff
        text-transform: uppercase
        font-weight: bold
        font-size: 18px
      .social
        text-align: center
        a
          display: inline-block
          margin: 15px 5px 5px
          img
            overflow: hidden
            border-radius: 5px
        div
          font-size: 18px
          font-weight: bold
      .inputData
        padding: 20px 40px 1px
        .item
          margin: 0 0 20px
          >label,
          >div
            display: inline-block
            vertical-align: middle
            font-size: 14px
            color: #fff
            font-weight: bold
          >label
            width: 31%
            text-transform: none
          >div
            width: 67%
            input[type='text'],
            input[type='password']
              box-sizing: border-box
              width: 100%
              background: none
              border: 1px solid white
              padding: 8px 10px
          &.country
            div
              input[type='text']:first-child
                width: 60px
              input[type='text']
                width: 168px
              label
                margin: 0 10px
          &.openAcc
            label
              text-transform: none
            span
              display: block
              a
                color: $color2
                text-transform: none
                &:hover
                  text-decoration: none
            button
              border: none
              font-size: 24px
              color: #fff
              font-weight: bold
              padding: 10px
              width: 100%
              margin: 15px 0 10px
              text-transform: uppercase
              background: rgba(32, 52, 84, 0.5)
              &:hover
                opacity: 0.8
            h4
              text-align: center
              margin: 0 0 10px
              text-transform: none
              font-weight: normal
              a
                color: $color2
                text-transform: uppercase
                &:hover
                  text-decoration: none


//.alertPopup
//  position: absolute
//  z-index: 11111111
//  display: none
//  top: 50px
//  left: 50%
//  width: 400px
//  margin: 0 0 0 -200px
//  background: rgba(44, 71, 116, 0.5)
//  border-radius: 10px 10px 0 0
//  box-sizing: border-box
//  color: white
//  overflow: hidden
//  -webkit-box-shadow: 0 0 1500px 1500px #000000
//  box-shadow: 0 0 1500px 1500px #000000
//  .title
//    background: #0a9df1
//    font-weight: bold
//  .title,
//  .message
//    padding: 15px
//  .close
//    position: absolute
//    right: 8px
//    top: 4px
//    font-size: 20px
//////////////////////////////////////////////////////media/////////////////////////////////////////////////////////////

@media screen and (max-width: 1710px)
  .myo-main
    .wrap
      width: 1240px
    .statsBox
      width: 805px
      .header,
      .subHeader
        table tr td
          width: 180px
          padding: 10px 0 10px 10px
      .pieBox .pieItem
        width: 33%
    .newsBox
      width: 100%
      margin: 0
      .newsBody
        height: auto
        .newsItem
          padding: 25px
          box-sizing: border-box
          width: 25%
          display: inline-block

    .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th .sort:before,
    .tradeBox .tradeTabsBox .tradeView .tradeTable table thead th .sort:after
      right: 1px


    &.bankHistory
      .myAccView
        width: 1171px
        //width: 905px
        .historyBox
          .searchBox .input .selectBox
            margin: 9px 0 0
          .positionsTable
            table
              thead
                th
                  padding: 14px 10px
              tbody
                td
                  padding: 14px 10px

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 1240px)
  .myo-main
    .wrap
      width: 900px
    .myo-header
      .left
        padding: 0
        img
          width: 300px
    .ratesBox
      width: 831px
      .header button
        margin: 0 60px
      .rates
        .rates-header
          li
            padding: 10px 20px !important
            span:nth-child(2),
            span:nth-child(3)
              padding: 0
        ul
          li
            padding: 10px 20px
            span:nth-child(1)
              text-align: center
              width: 28%
            span:nth-child(2)
              text-align: center
              width: 33%
            span:nth-child(3)
              text-align: center
              width: 38%
              padding: 0
    .statsBox
      width: 900px
      margin: 10px 0 0
      .pieBox
        height: 460px
        .pieItem .pieRight .pieBtnBox .remove
          display: block
    .tradeBox
      width: 900px
      .tradeTabsBox
        .tabItem:after
          top: 22px
          right: 8px
        .tradeView .tradeTable table tbody tr td
          padding: 19px 30px
        .tabItem
          font-size: 20px
          padding: 15px 40px


    &.bankHistory
      .myAccView
        width: 838px
        margin: 0
        .historyBox .searchBox .input .selectBox
          margin: 9px 0 0
      .myAcc
        width: 831px
      .myo-header .left .myo-user
        margin: 60px 0 0 0


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 900px)
  .myo-main
    .wrap
      width: 500px
    .myo-header
      .left
        float: none
      .right
        float: none
        text-align: center
        .top
          margin: 5px 0 25px
    .ratesBox
      width: 431px
      .header button
        margin: 0 12px
      .rates ul li span:nth-child(1)
        width: 26%
    .statsBox
      width: 500px
      .header table tr td,
      .subHeader table tr td
        text-align: center
      .header table .radio input + label span,
      .subHeader table .radio input + label span
        display: block
        margin: 0 auto 5px
      .pieBox
        .pieItem
          width: 50%
      .areaBox .graph
        width: 900px
    .tradeBox
      width: 500px
      .tradeTabsBox .tabItem
        padding: 15px 45px 15px 15px
    .newsBox .newsBody .newsItem
      width: 50%


  .myo-main
    .login
      width: 100%
      .logo
        img
          width: 100%
      .loginBox
        .inputData
          padding: 20px 20px 1px
          .item > label
            width: 100%
            text-align: center
          .item > div
            width: 100%
          .item.country
            div label
              margin: 0 2px
            div input[type='text']
              width: 129px
        .social
          margin: 10px 0
          div
            margin: 25px 0 0
          a
            margin: 0
            img
              vertical-align: bottom


  .myo-main.bankHistory
    .dashBoardContent
      display: block
    .myAcc
      width: 431px
    .myo-header
      .left
        .myo-user
          margin: 10px 0 0
          float: right
        .logo
          margin: 0
      .right
        .top
          margin-bottom: 20px
        .bottom
          text-align: center
          margin: 0 0 15px
    .myAccView
      width: 438px
      .derails
        .labelBox
          display: none
        .inputBox
          width: 100%
          input
            width: 100%
          .submit
            width: 100%
      .historyBox
        .prev,
        .next
          padding: 10px
          margin: 2%
          width: 45%
        .searchBox
          display: block
          justify-content: inherit
          .input
            display: inline-block
            width: 48%
            margin: 0 0 15px





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 500px)
  .myo-main
    .wrap
      width: 300px
    .mobileMenu
      display: block
      .menuBtn-fixed
        border: none
        background: none
        border-bottom: 0
        position: fixed
        left: 0
        top: 8px
        z-index: 1111
        width: 57px
      .menuBox .btnBox
        height: auto
        .btn
          padding: 4px 12px
          height: 45px
    .myo-header
      .left
        .logo
          margin: 0
          img
            width: 100%
        .accType
          padding: 6px
          font-size: 10px
          margin: 0
          position: absolute
          right: 0
          top: -20px
          border-radius: 0 0 3px 3px
          text-align: center
          &:after
            top: initial
            left: 50%
            bottom: -11px
            margin: 0 0 0 -20px
            border-style: solid
            border-width: 11px 20px 0 20px
            border-color: #8998b1 transparent #8998b1 transparent
      .right
        .doubleBox,
        .enterBox
          margin: 0 0 10px 10px
    .dashBoardContent
      .menuBox
        display: none
    .ratesBox
      width: 300px
      margin: 0
      .header button
        margin: 5px 13px
      .rates
        .rates-header li
          padding: 10px 5px !important
        ul
          li
            padding: 10px 5px
            span:nth-child(3) em
              margin: 0
    .statsBox
      width: 300px
      .header table tr td,
      .subHeader table tr td
        padding: 5px 0 10px
      .header table .radio input + label,
      .subHeader table .radio input + label
        font-size: 14px
      .header table .radio input + label span,
      .subHeader table .radio input + label span
        margin: 5px auto
      .pieBox .pieItem
        width: 100%
    .tradeBox
      width: 300px
      .tradeTabsBox
        .tabItem
          width: 100%
          box-sizing: border-box
        .tradeView .tradeTable table
          thead th
            padding: 10px
          tbody tr td
            padding: 5px 30px
    .newsBox .newsBody .newsItem
      width: 100%


  .myo-main.bankHistory
    .dashBoardContent
      margin: 0
      padding: 0 0 20px
    .myAcc
      width: 100%
      margin: 0
    .myo-header
      .left .myo-user
        margin: 35px 0 0 5px
      .right
        text-align: left
    .myAccView
      width: 100%
      .historyBox
        padding: 30px 15px
        .searchBox .input
          width: 100%
          margin: 0 0 15px
          .selectBox
            width: 100%
            select
              width: 100%
        .prev,
        .next
          width: 100%
          margin: 10px 0 0
