<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MYOptions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="http://www.highcharts.com/joomla/media/com_demo/highslide.css" />
    <link rel="stylesheet" href="css/ng-mobile-menu.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="MYOptions">

    <main class="myo-main bankHistory">
        <div pre-loader>
            <div class="ball"></div>
            <div class="ballx"></div>
        </div>

        <div class="mobileMenu">
            <button type="button" class="menuBtn menuBtn-fixed" ng-click="$spMenu.toggle()"><span></span><span></span><span></span></button>
            <div id="sp-nav">
                <div class="menuBox">
                    <button type="button" class="menuBtn"><span></span><span></span><span></span></button>
                    <div class="btnBox">
                        <button type="button" class="btn"><i class="sp sp-menu1"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu2"></i></button>
                        <button type="button" class="btn"><i class="sp sp-user"></i> <span>9</span></button>
                        <button type="button" class="btn"><i class="sp sp-menu3"></i> <span>9</span></button>
                        <button type="button" class="btn"><i class="sp sp-menu4"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu5"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu6"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu7"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu8"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div id="sp-page">
            <header class="myo-header">
                <div class="wrap">
                    <div class="left">
                        <div class="logo"><img src="img/logo.png" alt="logo"/></div>
                        <div class="myo-user"><img src="img/user.png" alt="user"/></div>
                    </div>

                    <div class="right">
                        <div class="top">
                            <div class="doubleBox">
                                <img src="img/lang/uk.png" alt=""/>
                                <div>
                                    <h3>language</h3>
                                    <h2>English</h2>
                                </div>
                            </div>
                            <div class="doubleBox">
                                <i class="sp sp-clock"></i>
                                <time></time>
                            </div>
                            <div class="enterBox">
                                <i class="sp sp-user"></i>
                                <div>
                                    <h4>Ahmed Aziz</h4>
                                    <h3>sing out</h3>
                                </div>
                            </div>
                        </div>

                        <div class="bottom">
                            <div class="doubleBox">
                                <div>
                                    <h3>balance</h3>
                                    <h2>$ 47,3155.5</h2>
                                </div>
                            </div>
                            <button type="button" class="deposit"><i class="sp sp-circlePlus"></i> deposit</button>
                        </div>
                    </div>
                </div>
            </header>

            <div class="dashBoard">
                <div class="wrap">
                    <div class="dashBoardContent" ng-controller="accCtrl">
                        <nav class="menuBox">
                            <button type="button" class="menuBtn"><span></span><span></span><span></span></button>
                            <div class="btnBox">
                                <button type="button" class="btn"><i class="sp sp-menu1"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu2"></i></button>
                                <button type="button" class="btn"><i class="sp sp-user"></i> <span>9</span></button>
                                <button type="button" class="btn"><i class="sp sp-menu3"></i> <span>9</span></button>
                                <button type="button" class="btn"><i class="sp sp-menu4"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu5"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu6"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu7"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu8"></i></button>
                            </div>
                        </nav>

                        <!--<div class="myAcc">-->
                            <!--<div class="header">-->
                                <!--my account-->
                            <!--</div>-->
                            <!--<div class="myAccList">-->
                                <!--<button ng-class="{active: isSet('summary')}" ng-click="setTab('summary')">account summary</button>-->
                                <!--<button ng-class="{active: isSet('derails')}" ng-click="setTab('derails')">personal derails</button>-->
                                <!--<button ng-class="{active: isSet('password')}" ng-click="setTab('password')">change password</button>-->
                                <!--<button ng-class="{active: isSet('positions')}" ng-click="setTab('positions')">positions</button>-->
                                <!--<button ng-class="{active: isSet('history')}" ng-click="setTab('history')">banking history</button>-->
                                <!--<button ng-class="{active: isSet('deposit')}" ng-click="setTab('deposit')">deposit</button>-->
                                <!--<button ng-class="{active: isSet('withdrawal')}" ng-click="setTab('withdrawal')">withdrawal</button>-->
                                <!--<button ng-class="{active: isSet('identification')}" ng-click="setTab('identification')">identification (kyc)</button>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="myAccView" ng-show="isSet('summary')">
                            <div class="header">account summary</div>
                        </div>

                        <div class="myAccView" ng-show="isSet('derails')">
                            <div class="header">personal derails</div>
                            <form action="#" class="derails">
                                <div class="labelBox">
                                    <label for="derails1">First Name:</label>
                                    <label for="derails2">Last Name:</label>
                                    <label>Email:</label>
                                    <label for="derails3">Phone Number:</label>
                                    <label for="derails4">Select Image:</label>
                                </div>

                                <div class="inputBox">
                                    <div><input id="derails1" type="text" value="Jack"/></div>
                                    <div><input id="derails2" type="text" value="Jones"/></div>
                                    <div class="mail">bitech@bitech.com</div>
                                    <div><input id="derails3" type="text" value="123456789"/></div>
                                    <div class="selectImg">
                                        <label for="derails4"><img src="img/user.png" alt=""/></label>
                                        <input id="derails4" type="file"/>
                                        <label for="derails4" class="chosenFile">no file chosen</label>
                                    </div>
                                    <button type="submit" class="submit">Save</button>
                                </div>
                            </form>
                        </div>

                        <div class="myAccView" ng-show="isSet('password')">
                            <div class="header">change password</div>
                        </div>

                        <div class="myAccView" ng-show="isSet('positions')">
                            <div class="header">positions</div>
                            <div class="historyBox">
                                <div class="searchBox">
                                    <div class="input">
                                        <label for="positions1">Form</label>
                                        <input id="positions1" type="text"/>
                                    </div>

                                    <div class="input">
                                        <label for="positions2">To</label>
                                        <input id="positions2" type="text"/>
                                    </div>

                                    <div class="input">
                                        <label for="input2">
                                            Transaction Type

                                            <div class="selectBox" toggle-select>
                                                <select name="" id="">
                                                    <option value="1">1 week</option>
                                                    <option value="2">2 week</option>
                                                    <option value="3">3 week</option>
                                                    <option value="4">4 week</option>
                                                    <option value="5">5 week</option>
                                                </select>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="input">
                                        <button class="searchBtn">search</button>
                                    </div>
                                </div>

                                <div class="positionsTable">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Asset</th>
                                            <th>Price</th>
                                            <th>Exp. Price</th>
                                            <th>Inv. Time</th>
                                            <th>Exec. Time</th>
                                            <th>Investment</th>
                                            <th>Payout</th>
                                            <th>Balance</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in positions">
                                            <td>{{row.position}}</td>
                                            <td>{{row.asset}}</td>
                                            <td>{{row.price}}</td>
                                            <td>{{row.expPrice}}</td>
                                            <td>{{row.invTime}}</td>
                                            <td>{{row.execTime}}</td>
                                            <td>{{row.Investment}}</td>
                                            <td>{{row.payout}}</td>
                                            <td>{{row.balance}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <button class="prev">previous</button>
                                <button class="next">next</button>
                            </div>
                        </div>

                        <div class="myAccView" ng-show="isSet('history')">
                            <div class="header">banking history</div>
                            <div class="historyBox">
                                <div class="searchBox">
                                    <div class="input">
                                        <label for="input1">Form</label>
                                        <input id="input1" type="text"/>
                                    </div>

                                    <div class="input">
                                        <label for="input2">To</label>
                                        <input id="input2" type="text"/>
                                    </div>

                                    <div class="input">
                                        <label for="input2">
                                            Transaction Type

                                            <div class="selectBox" toggle-select>
                                                <select name="" id="">
                                                    <option value="1">1 week</option>
                                                    <option value="2">2 week</option>
                                                    <option value="3">3 week</option>
                                                    <option value="4">4 week</option>
                                                    <option value="5">5 week</option>
                                                </select>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="input">
                                        <button class="searchBtn">search</button>
                                    </div>
                                </div>

                                <div class="historyTable">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>DATE</th>
                                            <th>DEPOSIT</th>
                                            <th>WITHDRAW</th>
                                            <th>BONUS</th>
                                            <th>BALANCE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in history">
                                            <td>{{row.date}}</td>
                                            <td>{{row.deposit}}</td>
                                            <td>{{row.withdraw}}</td>
                                            <td>{{row.bonus}}</td>
                                            <td>{{row.balance}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="myAccView" ng-show="isSet('deposit')">
                            <div class="header">deposit</div>
                        </div>

                        <div class="myAccView" ng-show="isSet('withdrawal')">
                            <div class="header">withdrawal</div>
                        </div>

                        <div class="myAccView" ng-show="isSet('identification')">
                            <div class="header">identification (kyc)</div>
                            <div class="identification">
                                <p>
                                    <b>Verification of your account</b><br/>
                                    Is important to us to identify our customers to adhere to the requirements of the regulator and ensure protection accounts.
                                    We call this process KYC or identification. Until you complete the process successfully KYC, can not make withdrawals from your account.
                                    <br/><br/>
                                    Please send a copy of your Passport, ID Card or Driving License to <a href="mailto:support@support">support@support</a>.
                                    Your USername should be included in the email. Please let this document contains your full name and date of birth
                                    as recorded in your account at <a href="#">mytrades.trade.</a>
                                </p>
                                <br/><br/>
                                <div class="imgBox">
                                    <img src="img/identification/1.png" alt=""/>
                                    <img src="img/identification/2.png" alt=""/>
                                    <img src="img/identification/3.png" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="newsBox">-->
                        <!--<div class="newsHeader"><i class="sp sp-news"></i> latest news</div>-->
                        <!--<div class="newsBody" ng-controller="newsCtrl">-->
                            <!--<div class="newsItem" ng-repeat="news in allNews">-->
                                <!--<a href="#">{{news.link}}</a>-->
                                <!--<h3>{{news.when}}</h3>-->
                                <!--<p>{{news.info}}</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </main>

    <!--<alert-Popup class="alertPopup" title="Alert" message="You are already subscribed for Silver"></alert-Popup>-->


<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://pablojim.github.io/highcharts-ng/javascripts/highcharts-ng.js"></script>
<script src="http://www.highcharts.com/joomla/media/com_demo/js/highslide-full.min.js"></script>
<script src="http://www.highcharts.com/joomla/media/com_demo/js/highslide.config.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>

<script src="js/dragular.min.js"></script>
<script src="js/ng-mobile-menu.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>