<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MYOptions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="http://www.highcharts.com/joomla/media/com_demo/highslide.css" />
    <link rel="stylesheet" href="css/ng-mobile-menu.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="MYOptions">

    <main class="myo-main">
        <div pre-loader>
            <div class="ball"></div>
            <div class="ballx"></div>
        </div>

        <div class="mobileMenu">
            <button type="button" class="menuBtn menuBtn-fixed" ng-click="$spMenu.toggle()"><span></span><span></span><span></span></button>
            <div id="sp-nav">
                <div class="menuBox">
                    <button type="button" class="menuBtn"><span></span><span></span><span></span></button>
                    <div class="btnBox">
                        <button type="button" class="btn"><i class="sp sp-menu1"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu2"></i></button>
                        <button type="button" class="btn"><i class="sp sp-user"></i> <span>9</span></button>
                        <button type="button" class="btn"><i class="sp sp-menu3"></i> <span>9</span></button>
                        <button type="button" class="btn"><i class="sp sp-menu4"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu5"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu6"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu7"></i></button>
                        <button type="button" class="btn"><i class="sp sp-menu8"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div id="sp-page">
            <header class="myo-header">
                <div class="wrap">
                    <div class="left">
                        <div class="logo"><img src="img/logo.png" alt="logo"/></div>
                        <div class="accType">Demo Account</div>
                    </div>

                    <div class="right">
                        <div class="top">
                            <div class="doubleBox">
                                <img src="img/lang/uk.png" alt=""/>
                                <div>
                                    <h3>language</h3>
                                    <h2>English</h2>
                                </div>
                            </div>
                            <div class="doubleBox">
                                <i class="sp sp-clock"></i>
                                <time></time>
                            </div>
                            <div class="enterBox">
                                <i class="sp sp-user"></i>
                                <div>
                                    <h4>Ahmed Aziz</h4>
                                    <h3>sing out</h3>
                                </div>
                            </div>
                        </div>

                        <div class="bottom">
                            <div class="doubleBox">
                                <div>
                                    <h3>balance</h3>
                                    <h2>$ 47,3155.5</h2>
                                </div>
                            </div>
                            <button type="button" class="deposit"><i class="sp sp-circlePlus"></i> deposit</button>
                        </div>
                    </div>
                </div>
            </header>

            <div class="dashBoard">
                <div class="wrap">
                    <div class="dashBoardContent" ng-controller="ratesCtrl">
                        <nav class="menuBox">
                            <button type="button" class="menuBtn"><span></span><span></span><span></span></button>
                            <div class="btnBox">
                                <button type="button" class="btn"><i class="sp sp-menu1"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu2"></i></button>
                                <button type="button" class="btn"><i class="sp sp-user"></i> <span>9</span></button>
                                <button type="button" class="btn"><i class="sp sp-menu3"></i> <span>9</span></button>
                                <button type="button" class="btn"><i class="sp sp-menu4"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu5"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu6"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu7"></i></button>
                                <button type="button" class="btn"><i class="sp sp-menu8"></i></button>
                            </div>
                        </nav>

                        <div class="ratesBox">
                            <div class="header">
                                <button ng-class="{active: isSet('Currencies')}" ng-click="setTab('Currencies')">Currencies</button>
                                <button ng-class="{active: isSet('Stocks')}" ng-click="setTab('Stocks')">Stocks</button>
                                <button ng-class="{active: isSet('Indices')}" ng-click="setTab('Indices')">Indices</button>
                                <button ng-class="{active: isSet('Commodities')}" ng-click="setTab('Commodities')">Commodities</button>
                            </div>
                            <div class="rates">
                                <div ng-show="isSet('Currencies')">
                                    <ul class="rates-header">
                                        <li>
                                            <span>Payout</span><span>Asset</span><span>Rate</span>
                                        </li>
                                    </ul>

                                    <ul id="currenciesRate">
                                        <li ng-repeat="rate in allRates.Currencies.rates" ng-click="addInDropBox($event, $index)">
                                            <span>{{rate.payout}}</span>
                                            <span>{{rate.asset}}</span>
                                        <span ng-class="rate.payoutType == 'up' ? 'green' : 'red'">
                                            <b>{{rate.rate}}</b>
                                            <em><i class="sp" ng-class="rate.payoutType == 'up' ? 'sp-arrUp' : 'sp-arrDown'"></i></em>
                                        </span>
                                        </li>
                                    </ul>
                                </div>

                                <div ng-show="isSet('Stocks')">
                                    <ul class="rates-header">
                                        <li>
                                            <span>Payout</span><span>Asset</span><span>Rate</span>
                                        </li>
                                    </ul>

                                    <ul id="stocksRate">
                                        <li ng-repeat="rate in allRates.Stocks.rates" ng-click="addInDropBox($event, $index)">
                                            <span>{{rate.payout}}</span>
                                            <span>{{rate.asset}}</span>
                                        <span ng-class="rate.payoutType == 'up' ? 'green' : 'red'">
                                            <b>{{rate.rate}}</b>
                                            <em><i class="sp" ng-class="rate.payoutType == 'up' ? 'sp-arrUp' : 'sp-arrDown'"></i></em>
                                        </span>
                                        </li>
                                    </ul>
                                </div>

                                <div ng-show="isSet('Indices')">
                                    <ul class="rates-header">
                                        <li>
                                            <span>Payout</span><span>Asset</span><span>Rate</span>
                                        </li>
                                    </ul>

                                    <ul id="indicesRate">
                                        <li ng-repeat="rate in allRates.Indices.rates" ng-click="addInDropBox($event, $index)">
                                            <span>{{rate.payout}}</span>
                                            <span>{{rate.asset}}</span>
                                        <span ng-class="rate.payoutType == 'up' ? 'green' : 'red'">
                                            <b>{{rate.rate}}</b>
                                            <em><i class="sp" ng-class="rate.payoutType == 'up' ? 'sp-arrUp' : 'sp-arrDown'"></i></em>
                                        </span>
                                        </li>
                                    </ul>
                                </div>

                                <div ng-show="isSet('Commodities')">
                                    <ul class="rates-header">
                                        <li>
                                            <span>Payout</span><span>Asset</span><span>Rate</span>
                                        </li>
                                    </ul>

                                    <ul id="commoditiesRate">
                                        <li ng-repeat="rate in allRates.commodities.rates" ng-click="addInDropBox($event, $index)">
                                            <span>{{rate.payout}}</span>
                                            <span>{{rate.asset}}</span>
                                        <span ng-class="rate.payoutType == 'up' ? 'green' : 'red'">
                                            <b>{{rate.rate}}</b>
                                            <em><i class="sp" ng-class="rate.payoutType == 'up' ? 'sp-arrUp' : 'sp-arrDown'"></i></em>
                                        </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="statsBox">
                            <div class="header">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio1" name="headerRadio" checked/>
                                                <label for="headerRadio1"><span></span> 15 sec</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio2" name="headerRadio"/>
                                                <label for="headerRadio2"><span></span> 60 sec</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio3" name="headerRadio"/>
                                                <label for="headerRadio3"><span></span> 120 sec</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio4" name="headerRadio"/>
                                                <label for="headerRadio4"><span></span> 180 sec</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio5" name="headerRadio"/>
                                                <label for="headerRadio5"><span></span> 240 sec</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio6" name="headerRadio"/>
                                                <label for="headerRadio6"><span></span></label>
                                            </div>
                                            <div class="selectBox" toggle-select>
                                                <select name="" id="">
                                                    <option value="1">1 week</option>
                                                    <option value="2">2 week</option>
                                                    <option value="3">3 week</option>
                                                    <option value="4">4 week</option>
                                                    <option value="5">5 week</option>
                                                </select>
                                            </div>

                                            <!--<div class="selectBox" toggle-select>-->
                                            <!--<h2>1 week</h2>-->
                                            <!--<ul>-->
                                            <!--<li>1 week</li>-->
                                            <!--<li>2 week</li>-->
                                            <!--<li>3 week</li>-->
                                            <!--<li>4 week</li>-->
                                            <!--<li>5 week</li>-->
                                            <!--<li>6 week</li>-->
                                            <!--</ul>-->
                                            <!--</div>-->
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="subHeader">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio7" name="headerRadio2" checked/>
                                                <label for="headerRadio7"><span></span> $25</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio8" name="headerRadio2"/>
                                                <label for="headerRadio8"><span></span> $50</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio9" name="headerRadio2"/>
                                                <label for="headerRadio9"><span></span> $100</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio10" name="headerRadio2"/>
                                                <label for="headerRadio10"><span></span> 200$</label>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="radio">
                                                <input type="radio" id="headerRadio12" name="headerRadio2"/>
                                                <label for="headerRadio12"><span></span></label>
                                            </div>
                                            <input type="text" class="inputVal" placeholder="$0"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div id="pieDropBox" class="pieBox">
                                <pie-item ng-repeat="rate in allRates.pieBox.rates"
                                      ng-class="rate.type == 'currencies' ? 'currencies': (rate.type == 'stocks' ? 'stocks' : (rate.type == 'indices' ? 'indices' : (rate.type == 'commodities' ? 'commodities' : '')))"
                                      all-rates="allRates"
                                      index="{{$index}}"
                                      expiry="{{rate.expiry}}"
                                      assent="{{rate.asset}}"
                                      payout="{{rate.rate}} {{rate.payout}}"
                                      timer="rate.timer"
                                      line-color="{{rate.lineColor}}"
                                      timer-color="{{rate.timerColor}}"
                                      line-percent="{{rate.linePercent}}">
                                </pie-item>
                            </div>

                            <div class="areaBox" ng-controller="highchartCtrl">
                                <div class="usedCurrency" ng-click="changeGraph()">{{currency}}</div>
                                <highchart config="highchartsNG" class="graph"></highchart>
                            </div>
                        </div>

                        <div class="tradeBox">
                            <div class="tradeTabsBox" ng-controller="tradeCtrl">
                                <ul>
                                    <li class="tabItem" ng-class="{active: isSet('longTrades')}" ng-click="setTab('longTrades')">
                                        my long term trades
                                    </li>
                                    <li class="tabItem" ng-class="{active: isSet('closedTrades')}" ng-click="setTab('closedTrades')">
                                        closed Trades
                                    </li>
                                </ul>
                                <div class="tradeView">
                                    <div ng-show="isSet('longTrades')" class="tradeTable">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>
                                                    <div ng-click="order('id')">id</div>
                                                    <span class="sort" ng-hide="predicate === 'id'"></span>
                                        <span class="sort" ng-show="predicate === 'id'"
                                              ng-class="reverse ? 'reverse' : 'unreverse'"></span>
                                                </th>
                                                <th>
                                                    <div ng-click="order('user')">user</div>
                                                    <span class="sort" ng-hide="predicate === 'user'"></span>
                                        <span class="sort" ng-show="predicate === 'user'"
                                              ng-class="reverse ? 'reverse' : 'unreverse'"></span>
                                                </th>
                                                <th>
                                                    <div ng-click="order('invDate')">inv date time</div>
                                                    <span class="sort" ng-hide="predicate === 'invDate'"></span>
                                        <span class="sort" ng-show="predicate === 'invDate'"
                                              ng-class="reverse ? 'reverse' : 'unreverse'"></span>
                                                </th>
                                                <th>
                                                    asset
                                                </th>
                                                <th>
                                                    %
                                                </th>
                                                <th>
                                                    strike
                                                </th>
                                                <th>
                                                    <div ng-click="order('expDate')">exp date time</div>
                                                    <span class="sort" ng-hide="predicate === 'expDate'"></span>
                                        <span class="sort" ng-show="predicate === 'expDate'"
                                              ng-class="reverse ? 'reverse' : 'unreverse'"></span>
                                                </th>
                                                <th>
                                                    exp level
                                                </th>
                                                <th>
                                                    $invest
                                                </th>
                                                <th>
                                                    $payOut
                                                </th>
                                                <th>
                                                    balance on exp
                                                </th>
                                                <th>
                                                    type
                                                </th>
                                                <th>
                                                    status
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="trade in openTrades | orderBy:predicate:reverse">
                                                <td>{{trade.id}}</td>
                                                <td>{{trade.user}}</td>
                                                <td>{{trade.invDate}}</td>
                                                <td>{{trade.asset}}</td>
                                                <td>{{trade.percent}}</td>
                                                <td>{{trade.strike}}</td>
                                                <td>{{trade.expDate}}</td>
                                                <td>{{trade.lvl}}</td>
                                                <td>{{trade.invest}}</td>
                                                <td>{{trade.payOut}}</td>
                                                <td>{{trade.balance}}</td>
                                                <td>{{trade.type}}</td>
                                                <td>{{trade.status}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div ng-show="isSet('closedTrades')" class="tradeTable">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>
                                                    <div ng-click="order('id')">id</div>
                                                    <span class="sort" ng-hide="predicate === 'id'"></span>
                                                    <span class="sort" ng-show="predicate === 'id'" ng-class="reverse ? 'reverse' : 'unreverse'"></span>
                                                </th>
                                                <th>
                                                    <div ng-click="order('user')">user</div>
                                                    <span class="sort" ng-hide="predicate === 'user'"></span>
                                                    <span class="sort" ng-show="predicate === 'user'" ng-class="reverse ? 'reverse' : 'unreverse'"></span>
                                                </th>
                                                <th>
                                                    <div ng-click="order('invDate')">inv date time</div>
                                                    <span class="sort" ng-hide="predicate === 'invDate'"></span>
                                                    <span class="sort" ng-show="predicate === 'invDate'" ng-class="reverse ? 'reverse' : 'unreverse'"></span>
                                                </th>
                                                <th>
                                                    asset
                                                </th>
                                                <th>
                                                    %
                                                </th>
                                                <th>
                                                    strike
                                                </th>
                                                <th>
                                                    <div ng-click="order('expDate')">exp date time</div>
                                                    <span class="sort" ng-hide="predicate === 'expDate'"></span>
                                                    <span class="sort" ng-show="predicate === 'expDate'" ng-class="reverse ? 'reverse' : 'unreverse'"></span>
                                                </th>
                                                <th>
                                                    exp level
                                                </th>
                                                <th>
                                                    $invest
                                                </th>
                                                <th>
                                                    $payOut
                                                </th>
                                                <th>
                                                    balance on exp
                                                </th>
                                                <th>
                                                    type
                                                </th>
                                                <th>
                                                    status
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="trade in closeTrades | orderBy:predicate:reverse">
                                                <td>{{trade.id}}</td>
                                                <td>{{trade.user}}</td>
                                                <td>{{trade.invDate}}</td>
                                                <td>{{trade.asset}}</td>
                                                <td>{{trade.percent}}</td>
                                                <td>{{trade.strike}}</td>
                                                <td>{{trade.expDate}}</td>
                                                <td>{{trade.lvl}}</td>
                                                <td>{{trade.invest}}</td>
                                                <td>{{trade.payOut}}</td>
                                                <td>{{trade.balance}}</td>
                                                <td>{{trade.type}}</td>
                                                <td>{{trade.status}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="newsBox">
                        <div class="newsHeader"><i class="sp sp-news"></i> latest news</div>
                        <div class="newsBody" ng-controller="newsCtrl">
                            <div class="newsItem" ng-repeat="news in allNews">
                                <a href="#">{{news.link}}</a>
                                <h3>{{news.when}}</h3>
                                <p>{{news.info}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!--<alert-Popup class="alertPopup" title="Alert" message="You are already subscribed for Silver"></alert-Popup>-->


<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://pablojim.github.io/highcharts-ng/javascripts/highcharts-ng.js"></script>
<script src="http://www.highcharts.com/joomla/media/com_demo/js/highslide-full.min.js"></script>
<script src="http://www.highcharts.com/joomla/media/com_demo/js/highslide.config.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>

<script src="js/dragular.min.js"></script>
<script src="js/ng-mobile-menu.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>